﻿<script type='text/javascript' src="js/variableScene4config.js"></script>
<script type='text/javascript' src="js/scene4.js"></script>

<div id="scene4">
    <div id="sceneOver" class="stretchBG"></div>
    <div id="subTitle05_058" class="orangeText">
        Confero: Another gap in my records plugged thanks to you. But I wonder, <br />
        could you tell me a little more about Bob Brown?</div>
    <div id="subTitle05_068" class="orangeText">
        Confero: Okay, nearly done. I think there's one more place to go and check out. <br />
        Thanks for helping us understand these people you met! And yourself of course.</div>

    <div id="propOverlayQuestion05_061" class="propOverlayQuestion stretchBG">
        <div class="wrap-q" style="margin-left: 2.9%;">  
            <div class="queTitle font-14">
                In your opinion, which of the following statements best describe Bob Brown? <br />(Remember, there are no right or wrong answers.)
            </div>
         </div>
        <div class="ansTitle">
            <ul>
                <li id="1"><span>He was a man who knew what he stood for.</span></li>
                <li id="2"><span>He didn't seem clear on what he stood for.</span></li>
                <li id="3"><span>He didn't stand for anything.</span></li>

            </ul>
        </div>
    </div>

    <div id="propOverlayQuestion05_062" class="propOverlayQuestion stretchBG">
        <div class="wrap-q" style="margin-left: 2.9%;">  
            <div class="queTitle font-14">
                In your opinion, which of the following statements best describe Bob Brown? <br />(Remember, there are no right or wrong answers.)
            </div>
        </div>
        <div class="ansTitle">
            <ul>
                <li id="1"><span>He and the other protestors were thinking of the future.</span></li>
                <li id="2"><span>He and the other protestors were being selfish.</span></li>

            </ul>
        </div>
    </div>

    <div id="propOverlayQuestion05_064" class="propOverlayQuestion stretchBG">
        <div class="wrap-q" style="margin-left: 2.9%;">  
            <div class="queTitle">
                Do you think values are important in standing up for what you believe in? <br />(Remember, there is no right or wrong here.)
            </div>
        </div>
        <div class="ansTitle">
            <ul>
                <li id="1"><span>I think it's important to have values that reflect what you believe.</span></li>
                <li id="2"><span>I don't think it really matters.</span></li>
                <li id="3"><span>I am not sure.</span></li>

            </ul>
        </div>
    </div>
    <div id="propOverlayImage05_059" class="stretchBG propOverlay">
       
    </div>

    <div id="phoneMap05_069" class="phoneMap stretchBG"><span class="phoneMap05_069_dot"></span></div>

    <div id="TStimer">00:15:00</div>
</div>
