﻿<script type='text/javascript' src="js/variableScene1config.js"></script>
<script type='text/javascript' src="js/scene1.js"></script>

<div id="scene1">

    <div id="sceneOver" class="stretchBG"></div>
    <div id="subTitle05_007" class="orangeText">
        Confero: Oh! Hello again... Nice to have you back. Great job on the Franklin River mission. <br />
 
        That part of the world is still beautiful today, thanks to the effort the protestors put in and you of course.
    </div>

    <div id="subTitle05_008" class="whiteText">Thanks.</div>


    <div id="subTitle05_011_1" class="orangeText">
        Confero: Here comes Dorian... We've had a bit more trouble from Sam since
        <br />
        you were last here. He's been stealing objects and causing all sorts of damage. 
    </div>
    <div id="subTitle05_011_2" class="orangeText">
        It would be wise if this would stop. Its causing all sorts of chaos with Archive,
        <br />
        walls are contracting, cracks are appearing. I even think the engine has been affected. 
    </div>
    <div id="subTitle05_011_3" class="orangeText">
        But we can address that later. Always something to do in this place. Always time. Always.
        <br />
        I think we might need to find Sam and stop this once and for all, let's see if we can find him.
    </div>

    <div id="subTitle05_016" class="orangeText">
        Confero: Let's go back to some of the shelves you've been filling up for us.
        <br />
        We can see if he has discovered your newest acquisitions for the archive.
    </div>

    

    <div id="phoneMap05_006" class="phoneMap stretchBG"></div>
    <div id="phoneMap05_015" class="phoneMap stretchBG"><span class="phoneMap05_015_dot"></span></div>

    <div id="TStimer">00:15:00</div>
    <!--Scene 1 Ends-->
</div>
