﻿<script type='text/javascript' src="js/variableScene2config.js"></script>
<script type='text/javascript' src="js/scene2.js"></script>

<div id="scene2">
    
    <div id="sceneOver" class="stretchBG"></div>
    <div id="subTitle05_023" class="orangeText">Confero: Here we are. 'The Dome.'</div>
    <div id="subTitle05_024" class="orangeText">
        Confero: First things first. If you could answer a few questions we have about Max that'd be great.<br />
        There's not real 'right' or 'wrong' answers, here. We just want your opinion. That's what counts.</div>
    <div id="subTitle05_033" class="orangeText">
        Confero: Thanks for that. It's nice to learn a little more about that Max character.</div>
   

    <div id="propOverlayQuestion05_027" class="propOverlayQuestion stretchBG">
        <div class="wrap-q" style="margin-left: 2.5%;">  
            <div class="queTitle">
                In your opinion, which of the following statements best describe Max? <br />(Remember, there are no right or wrong answers.)
            </div>
        </div>
        <div class="ansTitle">
            <ul>
                <li id="1"><span>He wasn't a very reliable person.</span></li>
                <li id="2"><span>He was a reliable person.</span></li>
            </ul>
        </div>
    </div>

    <div id="propOverlayQuestion05_029" class="propOverlayQuestion stretchBG">
        <div class="wrap-q" style="margin-left: 2.5%;">  
            <div class="queTitle">
                Do you think people consider you reliable? <br />(Remember, there is no right or wrong here.)
            </div>
          </div>
            <div class="ansTitle">
                <ul>
                    <li id="1"><span>Yes, most of the time.</span></li>
                    <li id="2"><span>People say they can rely on me, but I don't really think they do.</span></li>
                    <li id="3"><span>People can sometimes rely on me.</span></li>
                    <li id="4"><span>People rarely rely on me.</span></li>
                </ul>
        </div>
    </div>
    <div id="propOverlayImage05_025" class="stretchBG propOverlay">
        
    </div>

    <div id="phoneMap05_034" class="phoneMap stretchBG"><span class="phoneMap05_034_dot"></span></div>


    <div id="TStimer">00:15:00</div>
</div>
