﻿<script type='text/javascript' src="js/variableScene3config.js"></script>
<script type='text/javascript' src="js/scene3.js"></script>

<div id="scene3">
    <div id="sceneOver" class="stretchBG"></div>
    <div id="subTitle05_041_1" class="orangeText">
        Confero: One of the most important moments in Australian history I think.
    </div>

    <div id="subTitle05_041_2" class="orangeText">
        I remember one commentator saying that, for a while there, Australia was second
        <br />
        only to South Africa for racial segregation. Dark days. Thank goodness that's changed.
    </div>

    <div id="subTitle05_042" class="orangeText">
        Confero: Could you answer a few questions about that chap Dennis for us? <br />
        Just your opinion, same as before, that's all we need.</div>

    <div id="subTitle05_051" class="orangeText">
        Confero: I do enjoy learning about people. So interesting. Please, lead us to our <br />
        next destination. You seem to be getting around this place nicely.</div>

    <div id="propOverlayQuestion05_043" class="propOverlayQuestion stretchBG">
        <div class="wrap-q">  
            <div class="queTitle">
                In your opinion, Which of the following statements best describe Dennis? <br />(Remember, there are no right or wrong answers.)
            </div>
        </div>
        <div class="ansTitle">
            <ul>
                <li id="1"><span>He was good in a crisis.</span></li>
                <li id="2"><span>He couldn't cope in a crisis.</span></li>
                <li id="3"><span>He struggled a bit in a crisis.</span></li>

            </ul>
        </div>
    </div>

    <div id="propOverlayQuestion05_044" class="propOverlayQuestion stretchBG">
       <div class="wrap-q">  
             <div class="queTitle">
                In your opinion, Which of the following statements best describe Dennis? <br />(Remember, there are no right or wrong answers.)
            </div>
        </div>
        <div class="ansTitle">
            <ul>
                <li id="1"><span>He was a happy guy.</span></li>
                <li id="2"><span>He was an unhappy guy.</span></li>
                <li id="3"><span>He was pretty up and down.</span></li>

            </ul>
        </div>
    </div>

    <div id="propOverlayQuestion05_046" class="propOverlayQuestion stretchBG">
        <div class="wrap-q">  
            <div class="queTitle">
               What do you think is important to learn from a challenging situation? <br />(Remember, there is no right or wrong here.)
            </div>
        </div>
        <div class="ansTitle">
            <ul>
                <li id="1"><span>It's okay to make a decision and for it to be wrong, as you learn from it.</span></li>
                <li id="2"><span>It's not cool to handle making the wrong decision.</span></li>

            </ul>
        </div>
    </div>

    <div id="propOverlayQuestion05_047" class="propOverlayQuestion stretchBG">
           <div class="wrap-q">  
            <div class="queTitle">
                Do you think Dennis was a confident person in how he got his story?<br />
    (Remember, there is no right or wrong here.)
            </div>
           </div>
        <div class="ansTitle">
            <ul>
                <li id="1"><span>He was pretty confident in explaining what had to happen.</span></li>
                <li id="2"><span>He was okay, could have been a little bit more help.</span></li>
                <li id="3"><span>He wasn't confident in helping.</span></li>

            </ul>
        </div>
    </div>

    <div id="propOverlayImage05_043" class="stretchBG propOverlay">
        
    </div>
    <div id="phoneMap05_052" class="phoneMap stretchBG"><span class="phoneMap05_052_dot"></span></div>



    <div id="TStimer">00:15:00</div>
</div>
