﻿<script type='text/javascript' src="js/variableScene5config.js"></script>
<script type='text/javascript' src="js/scene5.js"></script>

<div id="scene5">
    <div id="sceneOver" class="stretchBG"></div>
    <div id="subTitle05_075_1" class="orangeText">
        Confero: Last but not least. What an important moment this was.
        <br />
        And fancy bumping in to Dennis again –even if he was 20 years older!
    </div>
    <div id="subTitle05_075_2" class="orangeText">
        Let's get these last few questions done and we can do something a little more relaxing.
    </div>
    <div id="subTitle05_086_1" class="orangeText">
        Confero: That was all very informative. Thanks for doing it.
    </div>
    <div id="subTitle05_086_2" class="orangeText">
        Why don't we go and have a sit down in my office now? Dorian's starving and I need to<br />
        go through my records to work out what your next missions will be.
    </div>

    <div id="propOverlayQuestion05_078" class="propOverlayQuestion stretchBG">
        <div class="wrap-q" style="width: 94.5%;">  
            <div class="queTitle font-14">
                In your opinion, which of the following statements best describes Old Dennis? <br />(Remember, there are no right or wrong answers.)
            </div>
         </div>
        <div class="ansTitle">
            <ul>
                <li id="1"><span>He seemed a lot more grown up and sensible.</span></li>
                <li id="2"><span>He seemed like the same person he was in his 20s.</span></li>

            </ul>
        </div>
    </div>

    <div id="propOverlayQuestion05_079" class="propOverlayQuestion stretchBG">
       <div class="wrap-q" style="width: 94.5%;">  
             <div class="queTitle font-14">
                In your opinion, which of the following statements best describes Old Dennis? <br />(Remember, there are no right or wrong answers.)
            </div>
        </div>
        <div class="ansTitle">
            <ul>
                <li id="1"><span>He was a dedicated journalist.</span></li>
                <li id="2"><span>He was in the wrong job.</span></li>

            </ul>
        </div>
    </div>

    <div id="propOverlayQuestion05_082" class="propOverlayQuestion stretchBG">
        <div class="wrap-q" style="width: 94.5%;">  
            <div class="queTitle">
                Do you think he realised how important that article was? <br />(Remember, there is no right or wrong here.)
            </div>
        </div>
        <div class="ansTitle">
            <ul>
                <li id="1"><span>Dennis didn't know.</span></li>
                <li id="2"><span>Dennis understood how important the decision was.</span></li>
                <li id="3"><span>Dennis seemed to understand but I am not really sure.</span></li>

            </ul>
        </div>
    </div>

    <div id="propOverlayImage05_076" class="stretchBG propOverlay">
        
    </div>

    <div id="TStimer">00:15:00</div>
</div>
