﻿@charset "utf-8";
/* CSS Document */
/*reset css start*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*reset css end*/

@font-face {
    font-family: 'TS';
    src: url('../fonts/helveticaneueltcom-bdcn.eot');
    src: url('../fonts/helveticaneueltcom-bdcn.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneueltcom-bdcn.woff') format('woff'), url('../fonts/helveticaneueltcom-bdcn.ttf') format('truetype'), url('../fonts/helveticaneueltcom-bdcn.svg#helveticaneueltcom-bdcn') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 auto;
    font-family: 'TS';
    font-size: 16px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

a {
    cursor: url(../images/hand.png), auto;
    font-size: 11px;
    cursor: pointer;
}

.stretchBG {
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.glow {
    text-shadow: 0 0 13px rgba(255,144,0,0.8), 0 0 8px rgba(255,144,0,0.8);
    filter: Shadow(Color=#FF9002, Direction=0, Strength=3);
    color: #f7dac2;
}

.noglow {
    /*text-shadow: 0 0 13px rgba(255,144,0,0.8), 0 0 8px rgba(255,144,0,0.8);
    filter: Shadow(Color=#FF9002, Direction=45, Strength=1);*/
    margin-top: 1%;
    text-shadow: none;
}

/*----------------Framework css :: Start----------------*/
#startScreen {
    position: absolute;
    color: #ffb638;
    font-size: 41px;
    text-align: center;
    line-height: 50px;
    top: 45%;
    width: 100%;
    padding: 10px 0;
    display: none;
}

#endScreen {
    position: absolute;
    color: #ffb638;
    font-size: 41px;
    text-align: center;
    top: 33%;
    width: 100%;
    line-height: 50px;
    padding: 10px 0;
    display: none;
}

#endScreen span {
    text-transform: none;
    margin-top: 40px;
    font-size: 19px;
    line-height: 10px;
}

#preloaderGif {
    padding-right: 6px;
}

#TSscene {
    display: block;
    opacity: 1;
    filter: alpha(opacity=100);
}

#TScontainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    opacity: 1;
    -webkit-opacity: 1;
}

#Dummy {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    opacity: 1;
    -webkit-opacity: 1;
}

#sceneOver {
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 500;
    opacity: 0.5;
    -webkit-opacity: 0.5;
    display: none;
}

#TSframe {
    background-image: url(../images/timestorm_G02_VG01_headsupdisplay_01.png);
    color: black;
    height: 100%;
    left: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}

#TSprogress {
    float: left;
    font-size: 16px;
    position: absolute;
    top: 6%;
    left: 2%;
    z-index: 4;
    display: none;
    text-transform: uppercase;
}

#TSmute {
    background-image: url(../images/mute-1.png);
    width: 7.524%;
    height: 3.46%;
    position: absolute;
    right: 2%;
    top: 5.4%;
    z-index: 5;
}

    #TSmute:hover {
        background-image: url(../images/mute-2.png);
    }

#TSsave {
    background-image: url(../images/save-1.png);
    width: 6.38%;
    height: 3.76%;
    position: absolute;
    z-index: 6;
    right: 9.5%;
    top: 5%;
}

    #TSsave:hover {
        background-image: url(../images/save-2.png);
    }

#TScompleted {
    left: 2%;
    position: relative;
    margin-top: 5px;
    top: 7.7%;
    z-index: 7;
    display: none;
}

.TSsup {
    position: relative;
    font-size: 17px;
    top: -12px;
    left: 2px;
    z-index: 8;
}

.per {
    font-size: 30pt;
}

#TStitle {
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    margin-top: .2%;
    text-transform: uppercase;
    display: none;
    letter-spacing: 6px;
    width: 20%;
    left: 41%;
    position: absolute;
    top: 2%;
    z-index: 9;
}

.topic {
    color: #f0ad35;
    font-size: 14px;
    letter-spacing: 0;
    position: relative;
    top: -14px;
    left: -10px;
    z-index: 10;
}

.chapter {
    color: #c98f2c;
    font-size: 10px;
    letter-spacing: 0;
    position: relative;
    top: -15px;
    padding-right: 10px;
    z-index: 11;
}

#TStimer {
    position: absolute;
    bottom: 4%;
    left: 45%;
    color: #f7dac2;
    width: 10%;
    text-align: center;
    font-size: 20px;
    display: none;
    background-image: url(../images/timer.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 10px;
    padding-left: 10px;
    letter-spacing: 2px;
    z-index: 12;
    background-size: 31px 34px;
    background-position: 0;
    padding-top: 4px;
}

.orangeText {
    position: absolute;
    bottom: 67px;
    text-align: center;
    width: 80%;
    left: 10%;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);
    filter: Shadow(Color=#000000, Direction=0, Strength=3);
    font-size: 21px;
    z-index: 600;
    color: #FFB13B;
    display: none;
}

.whiteText {
    position: absolute;
    bottom: 67px;
    text-align: center;
    width: 80%;
    left: 10%;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);
    filter: Shadow(Color=#000000, Direction=0, Strength=3);
    font-size: 21px;
    z-index: 600;
    color: #ffffff;
    display: none;
}


#phoneText {
    top: 49%;
    position: absolute;
    left: 3.5%;
    color: #f7dac2;
    width: 14.2%;
    font-size: 10pt;
    height: 21.3%;
    z-index: 15;
    overflow: auto;
    font-family: helvetica;
    outline:0;
    /*text-shadow: 0 0 3px #FF9002, 0 0 3px #FF9002;
    filter: Shadow(Color=#FF9002, Direction=45, Strength=1);*/
}

    #phoneText ul {
        list-style-type: none;
        position: relative;
        padding: 0;
        overflow: hidden;
        margin-right: 1.5%;
    }

    #phoneText li {
        /*padding-bottom:2px;*/
        padding-top: 6px;
        padding-left: 23px;
        background-image: url(../images/icon.png);
        background-repeat: no-repeat;
        background-position: 0px 8px;
        font-size: 10pt;
        line-height: 16px;
    }

.listIcon1 {
    background-image: url(../images/icon1.png) !important;
}

.listIcon2 {
    background-image: url(../images/icon2.png) !important;
}

.listIcon3 {
    background-image: url(../images/icon3.png) !important;
}

#pango {
    width: 9%;
    font-size: 12pt;
    position: absolute;
    top: 41%;
    right: 1.6%;
    line-height: 13px;
    height: 21%;
    padding-right: 1%;
    z-index: 16;
    color: #ffffff;
}

/* included in HUD image
#pangoTitle {
	width: 87%; font-size: 18px; position: relative; text-align: right; display: none; float: right; line-height: 20px;
}
*/
#pangoText {
    position: absolute;
    overflow: hidden;
    height: 95%;
    top: 8%;
    width: 100%;
    padding-left: 0% !important;
    padding-right: 3%;
    text-align: center;
    line-height: 13pt;
    color: rgba(255,255,255,0.8);
    z-index: 18;
    text-shadow: 0 0 5px #FF9002, 0 0 5px #FF9002;
    /*filter: Shadow(Color=#FF9002, Direction=45, Strength=1);*/
}

#pangoText-actual {
    width: 100%;
    font-size: 10px;
    position: relative;
    margin-left: 2px;
    text-decoration: underline;
}
#pangoText-actual a {
    padding-bottom: 10px;    
}

/*Customise vertical scroll thumb start*/
/*
#phoneText::-webkit-scrollbar, #pangoText::-webkit-scrollbar{
	width:6px;
	background-image: url(../images/scroll1.png) !important;
	background-repeat: repeat-y;
} 
#phoneText::-webkit-scrollbar-thumb, #pangoText::-webkit-scrollbar-thumb{
	background-color:#e1d5c7;
	border-radius:3px;
}
#phoneText::-webkit-scrollbar-thumb:hover, #pangoText::-webkit-scrollbar-thumb:hover{
	background-color:#e1d5c7;
	border:1px solid #ffffff;
}
#phoneText::-webkit-scrollbar-thumb:active, #pangoText::-webkit-scrollbar-thumb:active{
	background-color:#a46a13;
	border:1px solid #ffffff;
} */
/*Customise vertical scroll thumb end*/



#newContainer {
}
/*----------------Framework css :: End----------------*/


/*----------------Background-01 css :: Start----------------*/
.phoneMap {
    width: 13%;
    height: 18%;
    left: 4.5%;
    margin: 0 auto;
    position: absolute;
    top: 29.5%;
    z-index: 17;
}

#phoneMap07 {
    background-image: url(../images/timestorm_G02_VG01_phonemap_01.png);
    display: none;
}

/*pointer added to object highlight, save, mute buttons*/
div[id*="objectHighlight"]:hover {
	cursor: pointer;
}
span[class*="dot"]:hover {
	cursor: pointer;
}
span[class*="Dot"]:hover {
	cursor: pointer;
}
#TSsave:hover {
    cursor: pointer;
}
#TSmute {
    cursor: pointer;
}

#objectHighlight8 {
    background-image: url(../images/timestorm_G02_VG01_Objecthighlight_01.png);
    width: 6.8%;
    height: 5.83%;
    left: 32.1%;
    margin: 0 auto;
    position: absolute;
    top: 42.3%;
    z-index: 18;
    display: none;
}

.propOverlayVideo {
    width: 57.8%;
    height: 68.83%;
    left: 21.5%;
    margin: 0 auto;
    position: absolute;
    top: 15.3%;
    z-index: 501;
}


.propOverlay {
    width: 57%;
    height: 67%;
    left: 23%;
    position: absolute;
    top: 16%;
    z-index: 502;
}

#propOverlayImage11 {
    background-image: url(../images/timestorm_G02_VG01_propoverlay_01.png);
    display: none;
}

#propOverlayImage12 {
    background-image: url(../images/timestorm_G02_VG01_propoverlay_02.png);
    display: none;
}

.propClose {
    background-color: transparent;
    right: 0;
    top: 5px;
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1000;
    cursor: pointer;
}

iframe {
    width: 88%;
    height: 70%;
    left: 6%;
    position: absolute;
    top: 15.5%;
    z-index: 503;
    display: none;
}

/*----------------Background-01 css  :: End----------------*/

/*----------------Background-02 css :: Start----------------*/
#propOverlayImage36 {
    background-image: url(../images/timestorm_G02_VG01_propoverlay_03.png);
    display: none;
}

#phoneMap16 {
    background-image: url(../images/timestorm_G02_VG01_phonemap_02.png);
    display: none;
}
/*----------------Background-02 css  :: End----------------*/

/*----------------Background-03 css :: Start----------------*/
#objectHighlight41-1 {
    background-image: url(../images/timestorm_G02_VG01_Objecthighlight_02.png);
    width: 30.4%;
    height: 29%;
    left: 17.5%;
    margin: 0 auto;
    position: absolute;
    top: 27.7%;
    z-index: 19;
    display: none;
}

#objectHighlight41-2 {
    background-image: url(../images/timestorm_G02_VG01_Objecthighlight_03.png);
    width: 11.4%;
    height: 16.8%;
    left: 46.5%;
    margin: 0 auto;
    position: absolute;
    top: 30.7%;
    z-index: 20;
    display: none;
}

#objectHighlight41-3 {
    background-image: url(../images/timestorm_G02_VG01_Objecthighlight_04.png);
    width: 19.4%;
    height: 42.8%;
    left: 68.3%;
    margin: 0 auto;
    position: absolute;
    top: 28.3%;
    z-index: 21;
    display: none;
}

#propOverlayImage44 {
    background-image: url(../images/timestorm_G02_VG01_propoverlay_04.png);
    display: none;
}

#propOverlayImage47 {
    background-image: url(../images/timestorm_G02_VG01_propoverlay_05.png);
    display: none;
}

#propOverlayImage50 {
    background-image: url(../images/timestorm_G02_VG01_propoverlay_06.png);
    display: none;
}

#propOverlayQuestion53 {
    background-image: url(../images/timestorm_G02_VG01_question_01.png);
    display: none;
}

#propOverlayQuestion56 {
    background-image: url(../images/timestorm_G02_VG01_question_01.png);
    display: none;
}

.propOverlayQuestion {
    width: 59%;
    /*height: 63%;*/
    height:485px;
    left: 23%;
    position: absolute;
    top: 21%;
    z-index: 504;
    color: #ffffff;
    font-size: 10pt;
}

#leftCol {
  margin-left: 3.2%;
width: 45%;
font-size: 8pt;
letter-spacing: 1px;
color: #f7dac2;
text-shadow: none;
float: left;
    /*text-shadow: 0 0 1px #E6DFD7, 0 0 1px #E9E4DF;
    filter: Shadow(Color=#E6DFD7, Direction=45, Strength=1);*/
}

#rightCol {
    width: 42%;
font-size: 8pt;
letter-spacing: 1px;
color: #f7dac2;
text-shadow: none;
float: left;
margin-left: 4%;
    /*text-shadow: 0 0 1px #E6DFD7, 0 0 1px #E9E4DF;
    filter: Shadow(Color=#E6DFD7, Direction=45, Strength=1);*/
}

#QueAns {
    position: absolute;
    top: 20%;
    width: 90%;
}

.QueAns {
    position: absolute;
    top: 20%;
    left: 6%;
    width: 90%;
    color: #f7dac2;
}

#QueAnsDiv1 {
    margin-top: 25px;
    float: left;
}

#QueAnsDiv2 {
    margin-top: 30px;
float: left;
}

#QueAnsDiv3 {
   margin-top: 30px;
float: left;
}

#QueAnsDiv4 {
   margin-top: 30px;
float: left;
}
#QueAnsDiv1,#QueAnsDiv2,#QueAnsDiv3,#QueAnsDiv4,#QueAns{
    width: 99.4%;
    margin-left: 0;
}
.queTopFrame {
    position: absolute;
    top: 18%;
    left: 7%;
    width: 85%;
    height: 20%;
}

.QueAns1 {
    position: absolute;
    top: 40%;
    left: 7%;
    width: 85%;
    height: 51%;
    color: #f7dac2;
}
.wrap-q {
    border-bottom: 2px solid #745219;
    margin-left: 2.1%;
    width: 96.6%;
    margin-bottom: 15px;
}
.border {
    border-bottom: 2px solid #745219;
    margin-left: 2%;
float: left;
padding-bottom: 15px;
margin-top: 89px;
width: 95.7%;
}
.queTitle {
    background-image: url(../images/timestorm_G02_VG01_questiontitle_01.png);
    background-repeat: no-repeat;
    font-size: 10pt;
   /* text-shadow: 0 0 2px #E6DFD7, 0 0 1px #E9E4DF;
    filter: Shadow(Color=#E6DFD7, Direction=45, Strength=1);*/
    letter-spacing: 1px;
    background-size: 115px 53px;
    margin-left: 3%;
    margin-top: 55px;
    background-position: -17px 0;
    padding-top: 25px;
    padding-right: 20px;
    color: #f7dac2;
    padding-bottom:15px;
    /*height: 62px;*/

}
#QueAns .queTitle {
    height:30px;
}
    .queTitle > div {
    margin-top:10px;
    
    }
.ansTitle {
    background-image: url(../images/timestorm_G02_VG01_answer_01.png);
    background-repeat: no-repeat;
    padding-top: 1%;
    padding-right: 20px;
    margin-left: 5%;
    margin-top: 11px;
    color: #f7dac2;
    background-size: 115px 53px;
    background-position: -24px -20px;
}


.ansTitle ul {
    list-style-type: none;
    line-height: 21px;
    padding-top: 10px;
    font-size: 10pt;
    letter-spacing: 1px;
}

.ansTitle li {
    position: relative;
    margin-bottom: 10px;
    text-transform: none;
    text-indent: -20px;
    padding-left: 20px;
}
.ansTitle li span {
    cursor: pointer;    
    padding-left: 21px;
    background-image: url(../images/icon.png);
    background-repeat: no-repeat;
    background-position: 0 0px;
    padding-bottom: 4px;
}
.ansTitle li span:hover {
    background-image: url(../images/iconAns.png);
    background-repeat: no-repeat;
    background-position: 0 0px;
}

.noglow {
    font-size: 14pt;
    /*text-shadow: 0 0 2px #E6DFD7, 0 0 1px #E9E4DF;
    filter: Shadow(Color=#E6DFD7, Direction=45, Strength=1);*/
    text-shadow: none;
}

.noglow li {
    position: relative;
    margin-bottom: 10px;
    text-transform: none;
    text-indent: -20px;
    padding-left: 20px;
}
.noglow li span {
    cursor: pointer;
    background-image: url(../images/icon.png);
    background-repeat: no-repeat;
    background-position: 0 5px; 
    padding-left: 21px;
}
.noglow li span:hover {
    background-image: url(../images/iconAns.png);
    background-repeat: no-repeat;
    background-position: 0 5px;
    padding-left: 21px;
}

/*need to add below appropriate class on click of the answer*/
.rightAnswer {
    color: #3f8e3d;
    /*text-shadow: 0 0 2px #85BE84, 0 0 1px #85BE84;
    filter: Shadow(Color=#85BE84, Direction=45, Strength=1);*/
}

.wrongAnswer {
    color: #ff0000;
    /*text-shadow: 0 0 2px #F86436, 0 0 1px #F86436;
    filter: Shadow(Color=#F86436, Direction=45, Strength=1);*/
}
/**/

#que {
    line-height: 26px;
}

#phoneMap40 {
    background-image: url(../images/timestorm_G02_VG01_phonemap_04.png);
    display: none;
}

/*----------------Background-03 css  :: End----------------*/


/*----------------Background-04 css :: Start----------------*/

#objectHighlight73-1 {
    background-image: url(../images/timestorm_G02_VG01_Objecthighlight_05.png);
    width: 4.7%;
    height: 10.3%;
    left: 35.6%;
    margin: 0 auto;
    position: absolute;
    top: 46.5%;
    z-index: 19;
    display: none;
}

#objectHighlight73-2 {
    background-image: url(../images/timestorm_G02_VG01_Objecthighlight_06.png);
    width: 10%;
    height: 34%;
    left: 44.3%;
    margin: 0 auto;
    position: absolute;
    top: 37.7%;
    z-index: 20;
    display: none;
}

#objectHighlight73-3 {
    background-image: url(../images/timestorm_G02_VG01_Objecthighlight_07.png);
    width: 6.4%;
    height: 24%;
    left: 81.5%;
    margin: 0 auto;
    position: absolute;
    top: 29.7%;
    z-index: 21;
    display: none;
}

#propOverlayQuestion75 {
    background-image: url(../images/timestorm_G02_VG01_miniquestion_01.png);
    display: none;
}

#propOverlayQuestion79 {
    background-image: url(../images/timestorm_G02_VG01_miniquestion_01.png);
    display: none;
}

.miniQuestion {
    font-size: 14pt;
    /*text-shadow: 0 0 2px #E6DFD7, 0 0 1px #E9E4DF;
    filter: Shadow(Color=#E6DFD7, Direction=45, Strength=1);*/
    margin-top: 1%;
    top: 32%;
    position: absolute;
    left: 34%;
    width: 38%;
    line-height: 23px;
    font-weight: bold;
    color: #f7dac2;
}

    .miniQuestion > a {
        font-weight: bold;
        font-size: 15pt;
        text-decoration: underline;
        color: #f7dac2;
    }

.propOverlayMiniQuestion {
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 3%;
    z-index: 504;
}

#propOverlayImage81 {
    background-image: url(../images/timestorm_G02_VG01_propoverlay_07.png);
    display: none;
}

#phoneMap70 {
    background-image: url(../images/timestorm_G02_VG01_phonemap_05.png);
    display: none;
}

/*----------------Background-04 css  :: End----------------*/

/*----------------Background-05 css  :: Start----------------*/
#propOverlayQuestion90 {
    background-image: url(../images/timestorm_G02_VG01_question_02.png);
    display: none;
}

#propOverlayQuestion93 {
    background-image: url(../images/timestorm_G02_VG01_question_02.png);
    display: none;
}

#propOverlayQuestion96 {
    background-image: url(../images/timestorm_G02_VG01_question_02.png);
    display: none;
}

#propOverlayQuestion99 {
    background-image: url(../images/timestorm_G02_VG01_question_02.png);
    display: none;
}

#phoneMap70 {
    background-image: url(../images/timestorm_G02_VG01_phonemap_05.png);
    display: none;
}
/*----------------Background-05 css  :: End----------------*/

/*----------------Background-06 css  :: Start----------------*/
#phoneMap110 {
    background-image: url(../images/timestorm_G02_VG01_phonemap_07.png);
    display: none;
}

#phoneMap119 {
    background-image: url(../images/timestorm_G02_VG01_phonemap_08.png);
    display: none;
}

.phoneMap119blueDot {
    width: 8px;
    height: 8px;
    display: inline-block;
    left: 28%;
    position: absolute;
    top: 14%;
    border-radius: 3px;
    background-color: #007eff;
}
/*----------------Background-06 css  :: End----------------*/

/*----------------Background-07 css  :: Start----------------*/
#phoneMap124 {
    background-image: url(../images/timestorm_G02_VG01_phonemap_09.png);
    display: none;
}

#phoneMap132 {
    background-image: url(../images/timestorm_G02_VG01_phonemap_10.png);
    display: none;
}
/*----------------Background-07 css  :: End----------------*/

/*----------------Background-08 css  :: Start----------------*/
#propOverlayQuestion140 {
    background-image: url(../images/timestorm_G02_VG01_question_03.png);
    display: none;
}

#propOverlayQuestion143 {
    background-image: url(../images/timestorm_G02_VG01_question_03.png);
    display: none;
}

#propOverlayQuestion146 {
    background-image: url(../images/timestorm_G02_VG01_question_03.png);
    display: none;
}

#phoneMap155 {
    background-image: url(../images/timestorm_G02_VG01_phonemap_13.png);
    display: none;
}

.phoneMap155blueDot {
    width: 8px;
    height: 8px;
    display: inline-block;
    left: 72%;
    position: absolute;
    top: 75%;
    border-radius: 3px;
    background-color: #007eff;
}

#phoneMap157 {
    background-image: url(../images/timestorm_G02_VG01_phonemap_14.png);
    display: none;
}

.phoneMap157blueDot {
    width: 8px;
    height: 8px;
    display: inline-block;
    left: 24%;
    position: absolute;
    top: 75%;
    border-radius: 3px;
    background-color: #007eff;
}

#propOverlayQuestion158 {
    background-image: url(../images/timestorm_G02_VG01_miniquestion_01.png);
    display: none;
}

/*----------------Background-08 css  :: Start----------------*/

/*----------------Background-09 css  :: Start----------------*/
#phoneMap163 {
    background-image: url(../images/timestorm_G02_VG01_phonemap_12.png);
    display: none;
}

#phoneMap167 {
    background-image: url(../images/timestorm_G02_VG01_phonemap_13.png);
    display: none;
}
/*----------------Background-09 css  :: End----------------*/


/*800*600 screen size stylesheet Start*/
@media screen and (orientation: landscape) {
    .queTitle {
        background-position: -17px -15px;
    }
    #QueAns {
        top:117px;
    }
    .ansTitle {
        /*margin-top: 5%;*/
    }
}

@media screen and (orientation: portrait) {
    #QueAns {
        top:32%;
    }
    .queTitle {
        background-position: -17px -15px;
    }
    .queTitle {
        margin-top: 8%;
        /*margin-left: 50px;*/
    }
    .ansTitle {
        /*margin-top: 5%;*/
    }
}

/*800*600 screen size End*/

/*iPad stylesheet Start*/
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    #TStimer {
        font-size: 12px;
        background-size: 33px 25px;
    }
    .queTitle {
        padding-top: 6%;
        /*margin-top: 21%;*/
    }

    .ansTitle {
        /*margin-top: 12%;*/
    }
    #QueAnsDiv1 {
 margin-top: 43px;
float: left;;
}

#QueAnsDiv2 {
    margin-top: 43px;
float: left;
}

#QueAnsDiv3 {
   margin-top: 43px;
float: left;
}

#QueAnsDiv4 {
   margin-top: 43px;
float: left;
}

}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    /*Question answer font adjustment*/
    #leftCol {
        font-size: 9pt;
    }
    #rightCol {
        font-size: 9pt;
    }
    .noglow {
        font-size: 12pt;
    }
    .QueAnsTitle {
        font-size: 9pt;
    }
    /*Phone text font count adjustment*/
    #phoneText_contentwrapper {
        width: 100% !important;
    }
    .queTitle {
        font-size: 10pt;
        margin-top: 54px;
    }
    .ansTitle {
        margin-top: 18px;
    }
    
    .ansTitle li span {
        background-position: 0 0;
    }
    .ansTitle li span:hover {
        background-position: 0 0;
    }
    #TStimer {
        font-size: 15px;
        background-size: 33px 20px;
        background-position: -7px 0;
    }
    .queTitle {
        /*padding-top: 7%;*/
    }
    #pangoText-actual {
        line-height: 10px;
    }
    .notepadAns li span {
        font-size: 16px;
        background-position: 0 0 !important;
    }
    #phoneText li {
        font-size: 8pt;
    }
}
/*iPad stylesheet End*/
.mac .ansTitle li span {
    padding-bottom:0px;
    padding-top:2px;
}
/**Scrllbar Css*/
.scroll-pane
{
	overflow: auto;
}
.jspDrag {
   background-color: transparent;
    background-image: url(../images/scroll.png) !important;
    background-repeat: no-repeat;
    width: 5px;
    border-radius: 3px;
    background-position: 0px 0;
    left: 3px;
}
.jspTrack {
    background: transparent;
    position: relative;
    background-image: url(../images/scroll1.png) !important;
    background-repeat: repeat;
}
.jspVerticalBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: transparent;
}