﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Login.aspx.cs" Inherits="vignette4_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            /*write code to read post parameters
            Ajax post to index.html with already read post parameters
            */
            
            var userId = "<%= UserID%>";
            localStorage.setItem('userId', userId);
            //document.cookie = userId;
            window.close();
            if (!(navigator && navigator.platform && navigator.userAgent.match('MSIE'))) {
                window.opener.location.href = 'index.html';
            }
            
        });
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
