﻿<script src="js/variableScene8Config.js"></script>
<script src="js/scene8.js"></script>
<div id="scene8">

    <div id="sceneOver" class="stretchBG"></div>

    <div id="propOverlayQuestion140" class="propOverlayQuestion stretchBG">
        <div id="QueAnsDiv1">
             <div class="wrap-q" style="width: 96.8%;">
                <div class="queTitle" style="margin-left: 4%;">
                    <div>What was the original cause of Vietnamese immigration to Australia?</div>
                </div>
            </div>
            <div class="ansTitle" style="margin-left: 6%;">
                <div>&nbsp;</div>
                <ul>
                    <li id="q7radio1"><span>The War between Vietnam and China over land and water rights.</span></li>
                    <li id="q7radio2"><span>The civil war in Vietnam between the Communist North and the Democratic South.</span></li>
                    <li id="q7radio3"><span>The civil war between Vietnam that also spilled into Burma.</span></li>
                    <li id="q7radio4"><span>The civil war in Vietnam between the Democratic North and the Communist South.</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="propOverlayQuestion143" class="propOverlayQuestion stretchBG">
        <div id="QueAnsDiv2">
            <div class="wrap-q" style="width: 96.8%;">
                <div class="queTitle" style="margin-left: 4%;">
                    <div>In what year did the first Vietnamese refugee boat arrive in Australia?</div>
                </div>
            </div>
            <div class="ansTitle" style="margin-left: 6%;">
                <div>&nbsp;</div>
                <ul>
                    <li id="q8radio1"><span>1987.</span></li>
                    <li id="q8radio2"><span>1986.</span></li>
                    <li id="q8radio3"><span>1976.</span></li>
                    <li id="q8radio4"><span>1983.</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="propOverlayQuestion146" class="propOverlayQuestion stretchBG">
        <div id="QueAnsDiv3">
             <div class="wrap-q" style="width: 96.8%;">
                <div class="queTitle" style="margin-left: 4%;">
                    <div>How would you characterise Australia’s response to the plight of Vietnamese refugees?</div>
                </div>
             </div>
            <div class="ansTitle" style="margin-left: 6%;">
                <div>&nbsp;</div>
                <ul>
                    <li id="q9radio1"><span>Australia's response was originally resistant to the plight of the Vietnamese refugees but gradually improved.</span></li>
                    <li id="q9radio2"><span>Australia always had a neutral response to the plight of the Vietnamese refugees.</span></li>
                    <li id="q9radio3"><span>Australia was always sceptical of the plight of the Vietnamese refugees.</span></li>
                    <li id="q9radio4"><span>Australia always had a welcoming and understanding position on Vietnamese.</span></li>
                </ul>
            </div>
        </div>
    </div>


    <div id="phoneMap155" class="phoneMap stretchBG"><span class="phoneMap155blueDot"></span></div>
    <div id="phoneMap157" class="phoneMap stretchBG"><span class="phoneMap157blueDot"></span></div>

    <div id="propOverlayQuestion158" class="propOverlayMiniQuestion stretchBG">
        <div class="miniQuestion noglow">
            Looks like someone’s using a vortex to jump around The Archive! What's the best way to catch up with them?
					<br />
            <br />
            <a id="split">Split</a> up and investigate and cover an area each.
        <br />
            <a id="join">Join</a> forces and investigate this together.
        </div>
    </div>


    <div id="subTitle134_1" class="orangeText">
        Confero: This is one of my favourite places – full of artifacts on decades of immigration. <br />
        And right here is the 1970s section. I spent a summer in Melbourne back in the seventies you see.
    </div>
    <div id="subTitle134_2" class="orangeText">
        There were barely three hundred Vietnamese in the whole of Victoria at that time,  <br />
        tiny minority back then. But I still managed to meet a wonderful Vietnamese boy...
    </div>

    <div id="subTitle134_3" class="orangeText">
        I suppose it wouldn’t take a genius to work out that a sentimental old thing <br />
        like me would include this section in your training. 
    </div>


    <div id="subTitle135" class="whiteText">Somebody else knows I’m training?</div>
    <div id="subTitle136" class="orangeText">
        Confero: Yes, and I think they want to stop you before you pass the
        <br />
        test.
    </div>
    <div id="subTitle137" class="whiteText">Who? Why?</div>
    <div id="subTitle138" class="orangeText">
        Confero: Let's worry about all that later. First you need to complete
        <br />
        this final task before anyone comes back to stop you
    </div>
    <div id="subTitle152" class="orangeText">
        Confero: That's it. Well done. I think you're all ready to go out in
        <br />
        the field..
    </div>
    <div id="subTitle159" class="orangeText">
        Sounds like Dorian thinks you should move as a team.
    </div>
</div>

