﻿<script src="js/variableScene1config.js"></script>
<script src="js/scene1.js"></script>

<!--Scene 1 Start-->
<div id="scene1">
    <div id="subTitle9" class="whiteText">That plaque looks like a good place to start.</div>

    <div id="sceneOver" class="stretchBG"></div>
    <div id="phoneMap07" class="phoneMap stretchBG"></div>
    <div id="objectHighlight8Container">
        <div id="objectHighlight8" class="stretchBG"></div>
    </div>
    <div id="propOverlayImage11" class="stretchBG propOverlay">
        <div class="propClose"></div>
    </div>
    <div id="propOverlayImage12" class="stretchBG propOverlay">
        <div id="propOverlayClose" class="propClose"></div>
    </div>
</div>
<!--Scene 1 Ends-->


