﻿<script src="js/variableScene5Config.js"></script>
<script src="js/scene5.js"></script>

<div id="scene5">


    <div id="subTitle89_1" class="orangeText">
        Confero: Harold Holt! Was that it? Oh no, wait. It wasn’t him. But Holt
    <br />
        did manage to put an end to the White Australia policy I think.  
    </div>
    <div id="subTitle89_2" class="orangeText">
        If you’d be kind enough to look into it for me along with this little lot? 
    <br />
        Then we’ll have you out on a Live Mission in no time.
    </div>


    <div id="subTitle105_1" class="orangeText">
        Confero: Did you find out about Harold Holt? Whatever happened to him anyway? Went missing didn’t he:
        <br />
         like my memory! Now, being as you're so good at this we’re actually a little ahead of schedule. 
    </div>

    <div id="subTitle105_2" class="orangeText">
        So, let’s take a little detour past my office for a quick drop of, erm, Ceylon tea? Coke? <br />
         Sunny Boy? Jasmine tea? Erm, remind me, what is it your generation like to drink exactly?
    </div>



    <div id="subTitle107" class="orangeText">
        You walk to the very centre of The Archive and into Connie’s office,<br />
        where she pours you a drink.
    </div>

    <div id="sceneOver" class="stretchBG"></div>

    <div id="propOverlayQuestion90" class="propOverlayQuestion stretchBG">
        <div id="QueAnsDiv1">
            <div class="wrap-q">
                <div class="queTitle">
                    <div>What do we commonly call the policy of the Australian Government towards immigration from the late 19th century to the mid 20th century?</div>
                </div>
            </div>
            <div class="ansTitle">
                <div>&nbsp;</div>
                <ul>
                    <li id="q3radio1"><span>The Australia Only Policy.</span></li>
                    <li id="q3radio2"><span>The Great White Australia Policy.</span></li>
                    <li id="q3radio3"><span>The White Only Australia Policy.</span></li>
                    <li id="q3radio4"><span>The White Australia Policy.</span></li>
                   
                </ul>
            </div>
        </div>
    </div>

    <div id="propOverlayQuestion93" class="propOverlayQuestion stretchBG">
        <div id="QueAnsDiv2">
             <div class="wrap-q">
                <div class="queTitle">
                    <div>Which of the below was a signature feature of the White Australia Policy?</div>
                </div>
             </div>
            <div class="ansTitle">
                <div>&nbsp;</div>
                <ul>
                    <li id="q4radio1"><span>Immigrants to Australia were asked to complete a dictation test in English.</span></li>
                    <li id="q4radio2"><span>That immigrants to Australia were asked to complete a dictation test in English, or in any European language.</span></li>
                    <li id="q4radio3"><span>That immigrants to Australia had to submit duplicate copies of their documentation.</span></li>
                    <li id="q4radio4"><span>That immigrants to Australia had to apply to stay in New Zealand first before they could apply to stay in Australia.</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="propOverlayQuestion96" class="propOverlayQuestion stretchBG">
        <div id="QueAnsDiv3">
             <div class="wrap-q">
                <div class="queTitle">
                    <div>Why did the Australian Government insist on a dictation test in multiple languages?</div>
                </div>
             </div>
            <div class="ansTitle">
                <div>&nbsp;</div>
                <ul>
                    <li id="q5radio1"><span>It was a way of ensuring that any body could become an Australian citizen.</span></li>
                    <li id="q5radio2"><span>It was a way of ensuring that immigrants could read and write in English, so that they could adjust to life more easily in Australia.</span></li>
                    <li id="q5radio3"><span>It was a way of keeping out ‘undesirable’ applications (non-Caucasian of Northern or Western European decent) out of Australia.</span></li>
                    <li id="q5radio4"><span>It was a way of helping immigrants learn the English language.</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="propOverlayQuestion99" class="propOverlayQuestion stretchBG">
        <div id="QueAnsDiv4">
            <div class="wrap-q">
                <div class="queTitle">
                    <div>What was the first step to dismantle the White Australia Policy?</div>
                </div>
            </div>
            <div class="ansTitle">
                <div>&nbsp;</div>
                <ul>
                    <li id="q6radio1"><span>When Immigration Minister Harold Holt allowed 800 non-European refugees to come to Australia.</span></li>
                    <li id="q6radio2"><span>When Immigration Minister Harold Holt changed the rules of the dictation test to allow more people to come to Australia.</span></li>
                    <li id="q6radio3"><span>When Prime Minister Billy Hughes changed the law around who was eligible to come to Australia.</span></li>
                    <li id="q6radio4"><span>When Immigration Minister Billy Hughes allowed 500 Japanese war brides to settle in Australia.</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
