﻿<!--Scene 3 htmlStart-->

<script src="js/variableScene3Config.js"></script>
<script src="js/scene3.js"></script>
<div id="scene3">

    <div id="sceneOver" class="stretchBG"></div>
    <div id="phoneMap40" class="phoneMap stretchBG"></div>
    <div id="cover1">
        <div id="objectHighlight41-1" class="stretchBG"></div>
    </div>
    <div id="cover2">
        <div id="objectHighlight41-2" class="stretchBG"></div>
    </div>
    <div id="cover3">
        <div id="objectHighlight41-3" class="stretchBG"></div>
    </div>

    <div id="propOverlayImage44" class="stretchBG propOverlay">
        <div class="propClose"></div>
    </div>
    <div id="propOverlayImage47" class="stretchBG propOverlay">
        <div class="propClose"></div>
    </div>
    <div id="propOverlayImage50" class="stretchBG propOverlayVideo">
        <div class="propClose"></div>
        <iframe width="420" height="345"></iframe>
    </div>


    <div id="propOverlayQuestion53" class="propOverlayQuestion stretchBG">
        <div class="border">
            <div id="leftCol">
                Historians work with a range of different sources of information to provide them with
	    context and perspective when discussing the events of the past and their meaning.
            </div>
            <div id="rightCol">Understanding your sources allows you to weight how you might use them, or their relevance to a particular topic.</div>
        </div>
            <div id="QueAns">
            <div class="wrap-q">
                <div class="queTitle">
                    <div>How would you describe the passport?</div>
                </div>
            </div>
            <div class="ansTitle">
                <div>&nbsp;</div>
                <ul>
                    <li id="q1radio1"><span>The passport is a secondary source.</span></li>
                    <li id="q1radio2"><span>The passport is a primary source.</span></li>
                    <li id="q1radio3"><span>The passport is a tomato sauce.</span></li>
                    <li id="q1radio4"><span>The passport is  not a source of information.</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="propOverlayQuestion56" class="propOverlayQuestion stretchBG">
        <div id="QueAnsDiv1">
            <div class="wrap-q">
                <div class="queTitle">
                    <div>Which of the following best describes what a secondary source of information is?</div>
                </div>
            </div>
            <div class="ansTitle">
                <div>&nbsp;</div>
                <ul>

                 <li id="q2radio1"><span> A secondary source is something written, said or made by someone who was not involved in the event.</span></li>
                    <li id="q2radio2"><span>A secondary source is an object or document from the time period it represents.</span></li>
                    <li id="q2radio3"><span>A secondary source is purely opinion; it is not based on facts.</span></li>
                    <li id="q2radio4"><span>None of the above.</span></li>
                
                   <!-- <li id="q2radio1"><span>A secondary source uses primary sources to draw an opinion or view on the historical events but is created after the period.</span></li>
                    <li id="q2radio2"><span>A secondary source is an artefact or information from the time period it represents.</span></li>
                    <li id="q2radio3"><span>A secondary source is purely opinion; it does not draw on any other information or artefacts.</span></li>
                    <li id="q2radio4"><span>A secondary source refers to the type of work that historians do.</span></li>
                --></ul>
            </div>
        </div>
    </div>

    <div id="subTitle39" class="orangeText">
        Confero: Ahhh. Here we are. What about Christmas Island? How on Earth 
        <br />
        did it ever come to that?
    </div>

    <div id="subTitle40_1" class="orangeText">
        Confero: Here we are, World War Two. You know, my Great, Great, Great, Great, <br />
        Grandmother was in the WAAF. She was into all kinds of classified projects... 
    </div>
    <div id="subTitle40_2" class="orangeText">
        I’m sure if Menzies hadn’t changed his mind about women in the military, I wouldn’t be stood here today...<br />
        Goes to show, learning the stories of others helps us understand how we all got to where we are now.
    </div>
   

    <div id="subTitle62_1" class="orangeText">
        Confero: Nice work... What about the Snowy River Dam eh. Can you imagine? All those people from foreign <br />
        lands working together like that... Mind you, the death toll, shocking!.. Now, we must get on to the next task.
    </div>

    <div id="subTitle67_1" class="orangeText">
        Confero: I’m sure it’s along here somewhere... Dorian and I
        <br />
        were playing there just the other day.Dorian. Ball! Go find your ball!
    </div>

</div>
