﻿
    <script src="js/variableConfig_scene2.js"></script>
    <script src="js/scene2.js"></script>

    <!--Scene 2 Starts-->

    <div id="scene2">


        <div id="sceneOver" class="stretchBG"></div>
        <div id="phoneMap16" class="phoneMap stretchBG"></div>
        <div id="propOverlayImage36" class="stretchBG propOverlayVideo">
            <!--<iframe width="420" height="345"frameborder="0" title="YouTube video player"type="text/html"src="https://www.youtube.com/embed/XGSy3_Czz8k?enablejsapi=1" frameborder="0">
                </iframe>-->
           <iframe width="420"height="345"frameborder="0" title="YouTube video player"type="text/html"src="https://www.youtube.com/embed/XGSy3_Czz8k?enablejsapi=1"></iframe>
            <div class="propClose"></div>
        </div>

        <!--Recruit dialogue-->
        <div id="subTitle17_1" class="orangeText">
            Ah, at last. My new recruit. So very sorry about the mix up. Can’t have been easy for you, <br />
            child. All the terrible heat of that last place. But you’re here now, that’s the main thing.</div>
        <!--Recruit dialogue ended-->



        <div id="subTitle18" class="whiteText">Hold on. Who are you?</div>



        <div id="subTitle19" class="orangeText">Oh, how rude of me. We don’t get many visitors...</div>



        <!--confero dialogue-->
        <div id="subTitle21_1" class="orangeText">
            CONFERO’s my name. But you can call me Connie. And I believe you already know my friend Dorian <br />
            here. He’s the oldest dog in the universe you know: modified him myself.</div>
        <!--confero dialogue ended-->

        <div id="subTitle24" class="whiteText">Modified? What’s going on? Where am I?</div>


        <!--inquisitive dialogue-->
        <div id="subTitle25_1" class="orangeText">
             Confero: Inquisitive sort aren’t you? ... Well, it’s complicated stuff really. Alternate timelines.<br /> 
             Quantum Mechanics. String theory. Many miles in advance of where your society is...
        </div>
        <div id="subTitle25_2" class="orangeText">
            But really all you need to know is this...That phone you’ve got is very special...Took years<br />
            to make. And there are very few of them left in the universe.
        </div>

        <div id="subTitle25_3" class="orangeText">
            I’d first hoped its vortex would be strong enough for two people to travel together. But it didn’t quite <br />
            turn out that way... As it ended up, there’s just enough power in yours for Dorian to join you now and again.
        </div>
        
        <!--inquisitive dialogue ended-->


        <div id="subTitle26" class="whiteText">Right... and why am I here, exactly?</div>



        <div id="subTitle28_1" class="orangeText">
            Confero: Questions, questions. Never mind about that. We need to get<br />
            you to work, don’t we Dorian?
        </div>



        <div id="subTitle30" class="whiteText">Work?</div>


        <!--work dialogue-->
        <div id="subTitle31_1" class="orangeText">
            Yes, child. Work... Although it won’t really feel like it... That phone  <br />
            will take you to all sorts of important times and places. 
        </div>
        <div id="subTitle31_2" class="orangeText">
            When you’re there, you can search for all manner of interesting things.<br />
            And bring back what we need you to, of course.?
        </div>
        <!--work dialogue ended-->


        <div id="subTitle32" class="whiteText">Why?</div>


        <!--survival dialogue-->
        <div id="subTitle33_1" class="orangeText">
            Confero: Why? It’s a question of survival. We need you to become an<br />
            expert at understanding who we are if this place is ever going to...
        </div>
        <!--survival dialogue ended-->


        <!--time dialogue-->
        <div id="subTitle35_1" class="orangeText">
            Confero: Goodness, is that the time. That’s quite enough questions for one day.<br />
            We really have to get you busy with your Archive Competency Test.          
        </div>
        <!--time dialogue ended-->


        <div id="subTitle36" class="orangeText">Confero: Let’s start you off with something from not so long ago.</div>

    </div>
    <!--Scene 2 Ends-->




















