﻿
<script type="text/javascript" src="js/variableConfig_scene6.js"></script>
<script type="text/javascript" src="js/scene6.js"></script>


<div id="scene6">

    <!--1942 dialogue -->
    <div id="subTitle111_1" class="orangeText">
        Confero: I managed to bring that fan back from 1942 you know. Japanese prison guards<br /> 
        had it in their office... Ahhh. All that travelling. I’ll miss it, that’s for sure.</div>
    <!--1942 dialogue ended-->


    <div id="subTitle112" class="whiteText">Why stop travelling then?</div>


    <!--Confero Large Dialogue -->
    <div id="subTitle113_1" class="orangeText">
        Confero: More questions... Well I suppose I do owe you an explanation, considering...<br />
        You see I’m from a place far beyond what you know.
    </div>



    <div id="subTitle113_2" class="orangeText">
        And my job, The Archive’s job, is to scour the universe for all manner of things: moments, <br />
        lessons, concepts, information, stories, even biological samples. It’s lonely work these days. 
    </div>


    <div id="subTitle113_3" class="orangeText">
        Just Dorian and I out here alone. But the job of Archivist is very prestigious. We do it<br /> 
        so people in the future I’m from can learn from the successes and failures of the past.
    </div>

    <div id="subTitle113_4" class="orangeText">
        You see, the world has been through many hardships since two thousand and thirteen. <br />
        Like The Great Warming I accidentally sent you to... And many many other catastrophes besides.
    </div>

    <div id="subTitle113_5" class="orangeText">
        Along the way it’s put some holes in our knowledge that you might not expect,<br />
        considering some of our technology.
    </div>

    <div id="subTitle113_6" class="orangeText">
        There’s much we’ve collected already that I wish we could share with your leaders. But it’s too dangerous. <br />
        We can’t risk our technology falling into the wrong hands – the vortex, the phone, can all be deadly.
    </div>

    <div id="subTitle113_7" class="orangeText">
        You see the people in your time, they’re capable of so much beauty, but so much<br />
        destruction. It’s heartbreaking really. Tragic... The future I am from is not like that.
    </div>

    <div id="subTitle113_8" class="orangeText">
        Now don’t get me wrong. The people of your time have achieved some remarkable<br />
        advances, I know. And there are many good people on Earth.
    </div>

    <div id="subTitle113_9" class="orangeText">
        Smart young things, like you. I can see the great potential in mankind. Always have. <br />
        No point being, what’s that saying you use: “Once Bitten, Twice Shy”. No point being like...
    </div>

    <!--Confero Large Dialogue ended -->


    <div id="subTitle115" class="orangeText">Confero: That’s the Archive motion sensor!.</div>


    <div id="subTitle118" class="orangeText">
        Confero: Looks like the immigration section.  Coming along
            <br />
        for the ride?
    </div>


    <div id="subTitle120" class="orangeText">
        Better click the blue dot - an old lady shouldn’t have to face
            <br />
        an intruder alone!
    </div>


    <div id="sceneOver" class="stretchBG"></div>
    <div id="phoneMap110" class="phoneMap stretchBG"></div>
    <div id="phoneMap119" class="phoneMap stretchBG"><span class="phoneMap119blueDot" onclick="bluedot();"></span></div>

</div>
<!--Scene 6 Ends-->

