﻿<script src="js/variableScene4Config.js"></script>
<script src="js/scene4.js"></script>


<div id="scene4">


    <div id="subTitle72_1" class="orangeText">
        Confero: Oh dear. Poor Dorian. Perhaps you can help him get his ball out of that hole?<br /> 
        It’s not very deep, but  my old hands aren’t up to the job. Mind you, I’m not sure anyone’s are!
    </div>
   

    <div id="subTitle74" class="orangeText">You’ll need to get the ball out of that tiny hole before you can hit<br />
        it anywhere...</div>
    <div id="subTitle78" class="orangeText">Confero: Oh, how rude of me. You must be thirsty after all that time<br />
        in the desert.</div>

    <div id="subTitle83_1" class="orangeText">
        Confero: Well done. I think you’ve just made Dorian’s millennium! Now, the next part <br />
        of your test is just... along, here. I’m almost certain of it.</div>

    <div id="subTitle85_1" class="orangeText">
        Confero: Ah yes, here we are. White. Australia. Goodness me. </div>
    <div id="subTitle85_2" class="orangeText">
        Who was it that said: “Those who can’t remember the past are doomed to repeat it?”...<br />
        I’ll get it in a moment, memory isn’t what it was you know! </div>

    <div id="minisubtitle" class="orangeText">No joy there.</div>
    <div id="sceneOver" class="stretchBG"></div>
    <div id="phoneMap70" class="phoneMap stretchBG"></div>

    <div id="cover1">
        <div id="objectHighlight73-1" class="stretchBG"></div>
    </div>
    <div id="cover2">
        <div id="objectHighlight73-2" class="stretchBG"></div>
    </div>
    <div id="cover3">
        <div id="objectHighlight73-3" class="stretchBG"></div>
    </div>

    <div id="propOverlayQuestion75" class="propOverlayMiniQuestion stretchBG">
        <div class="miniQuestion noglow">
            You could try to make some sort of pulley or sling? Perhaps that will work?
            <br />
            <br />
            <a id="yes1">Yes</a>, sounds possible. I’ll give it a go.
            <br />
            <a id="no1">No</a>, there’s no way that’d work.
        </div>
    </div>

    <div id="propOverlayQuestion79" class="propOverlayMiniQuestion stretchBG">
        <div class="miniQuestion noglow">
            Staying hydrated is a good idea. But is there any way the water could help you get Dorian’s tennis ball out of that hole?
            <br />
            <br />
            <a id="no2">No</a>, I don’t think so, now let me take a drink!
            <br />
            <a id="yes2">Yes</a>, I think there might be, let’s find out.
        </div>
    </div>

    <div id="propOverlayImage81" class="stretchBG propOverlay">
        <div class="propClose"></div>
    </div>

</div>
