﻿<script src="js/variableScene5config.js"></script>
<script src="js/scene5.js"></script>


<div id="scene02_05">
    <div id="sceneOver" class="stretchBG"></div>

    <div id="subTitle02_108_1" class="orangeText">
        Dennis: If that bloke stays in the restroom much longer, you could use the coin to open the door. <br />
        But first things first, I really need you to help me get all the facts for this story in order.</div>

    <div id="subTitle02_141_1" class="orangeText">
        Dennis: Thanks for all yer help, kid. I’ve got loads of great stuff here. You’re a legend... <br />
        Now, that audio clip you were asking after earlier... 
    </div>

    <div id="subTitle02_141_2" class="orangeText">
        If I can find me bloomin’ satchel, there’s a ton of audio clips<br />
        on me Dictaphone, you’re welcome to ‘em.
    </div>

    <div id="subTitle02_142" class="orangeText">
        Confero: Maybe you could use the Shilling coin to open the restroom
    <br />
        door and check on the person in there?
    </div>



    <div id="phoneMap02_143" class="phoneMap stretchBG"><span class="phoneMap02_143_dot"></span></div>

    <div id="cover">
        <div id="objectHighlight02_137" class="stretchBG"></div>
    </div>

    <div id="propOverlayQuestion02_109" class="propOverlayQuestion stretchBG">
        <div id="QueAnsDiv1">
              <div class="wrap-q">
            <div class="queTitle">
                What year was the Freedom Ride?
            </div>
                  </div>
            <div class="ansTitle">
                <ul>
                    <li id="q1radio1"><span>1963.</span></li>
                    <li id="q1radio2"><span>1965.</span></li>
                    <li id="q1radio3"><span>1973.</span></li>
                    <li id="q1radio4"><span>1975.</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="propOverlayQuestion02_112" class="propOverlayQuestion stretchBG">
        <div id="QueAnsDiv2">
              <div class="wrap-q">
            <div class="queTitle">
                Which of the following was not a destination of the Freedom ride?
            </div>
                  </div>
            <div class="ansTitle">
                <ul>
                    <li id="q2radio1"><span>Walgett.</span></li>
                    <li id="q2radio2"><span>Gulargambone.</span></li>
                    <li id="q2radio3"><span>Melbourne.</span></li>
                    <li id="q2radio4"><span>Kempsey.</span></li>
                </ul>
            </div>
        </div>
    </div>


    <div id="propOverlayQuestion02_115" class="propOverlayQuestion stretchBG">
        <div id="QueAnsDiv3">
              <div class="wrap-q">
            <div class="queTitle">What was the primary cause of the Walgett dispute?</div>
                  </div>
            <div class="ansTitle">
                <ul>
                    <li id="q3radio1"><span>Racial segregation and discrimination.</span></li>
                    <li id="q3radio2"><span>Sexual prejudice.</span></li>
                    <li id="q3radio3"><span>Age discrimination.</span></li>
                    <li id="q3radio4"><span>Crime.</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="propOverlayQuestion02_118" class="propOverlayQuestion stretchBG">
        <div id="QueAnsDiv4">
              <div class="wrap-q">
            <div class="queTitle">What was the Walgatt RSL president quoted as saying?</div>
                  </div>
            <div class="ansTitle">
                <ul>
                    <li id="q4radio1"><span>That he would like to see Australia go back to war in Vietnam.</span></li>
                    <li id="q4radio2"><span>That Australia needed tighter immigration legislation.</span></li>
                    <li id="q4radio3"><span>That Indigenous Australians would be able to become members of the RSL given
time.</span></li>
                    <li id="q4radio4"><span>That an Indigenous Australian would never be able become a member of the RSL.</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="propOverlayQuestion02_121" class="propOverlayQuestion stretchBG">
        <div id="QueAnsDiv5">
              <div class="wrap-q">
            <div class="queTitle">What was the primary purpose of the Freedom Ride trip?</div>
                  </div>
            <div class="ansTitle">
                <ul>
                    <li id="q5radio1"><span>A university social trip.</span></li>
                    <li id="q5radio2"><span>A fact finding mission.</span></li>
                    <li id="q5radio3"><span>A trip to raise money for Indigenous Australians.</span></li>
                    <li id="q5radio4"><span>A trip to promote social justice.</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="propOverlayQuestion02_124" class="propOverlayQuestion stretchBG">
        <div id="QueAnsDiv6">
              <div class="wrap-q">
            <div class="queTitle">
                What were the three things that the Freedom Riders wanted to draw attention to once they had gathered the facts?
            </div>
                  </div>
            <div class="ansTitle">
                <ul>
                    <li id="q6radio1"><span>Indigenous housing, health and education.</span></li>
                    <li id="q6radio2"><span>Indigenous poverty, heath and general welfare.</span></li>
                    <li id="q6radio3"><span>Indigenous general welfare, employment and education.</span></li>
                    <li id="q6radio4"><span>Indigenous education, poverty and housing.</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="propOverlayQuestion02_127" class="propOverlayQuestion stretchBG">
        <div id="QueAnsDiv7">
              <div class="wrap-q">
            <div class="queTitle">Where were the students originally from?</div>
                  </div>
            <div class="ansTitle">
                <ul>
                    <li id="q7radio1"><span>The University of Melbourne.</span></li>
                    <li id="q7radio2"><span>The University of Tasmania.</span></li>
                    <li id="q7radio3"><span>The University of Sydney.</span></li>
                    <li id="q7radio4"><span>The University of New South Wales.</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="propOverlayQuestion02_130" class="propOverlayQuestion stretchBG">
        <div id="QueAnsDiv8">
              <div class="wrap-q">
            <div class="queTitle">What country did the Freedom Riders draw parallels to in explaining their activities?</div>
            </div>
                  <div class="ansTitle">
                <ul>
                    <li id="q8radio1"><span>France.</span></li>
                    <li id="q8radio2"><span>The United States.</span></li>
                    <li id="q8radio3"><span>Canada.</span></li>
                    <li id="q8radio4"><span>South Africa.</span></li>
                </ul>
            </div>
        </div>
    </div>


    <div id="propOverlayQuestion02_133" class="propOverlayQuestion stretchBG">
        <div id="QueAnsDiv9">
              <div class="wrap-q">
            <div class="queTitle">
                Which of the following was a primary accomplishment of Charles Perkins, a key member of the freedom ride trip?
            </div>
                  </div>
            <div class="ansTitle">
                <ul>
                    <li id="q9radio1"><span>He created the first course in Indigenous studies in an Australian university.</span></li>
                    <li id="q9radio2"><span>He was the last Indigenous Australian to graduate from an Australian university.</span></li>
                    <li id="q9radio3"><span>He invited a famous tomato sauce recipe.</span></li>
                    <li id="q9radio4"><span>He was the first Indigenous Australian to graduate from an Australian university.</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="soundForAllBrowsers2">
        </div>
</div>



