﻿<script src="js/variableScene4config.js"></script>
<script src="js/scene4.js"></script>
<div id="scene02_04">
    <div id="sceneOver" class="stretchBG"></div>
    <div id="subTitle02_102" class="orangeText">Be right out. Just blowing my nose.</div>
    <div id="subTitle02_103" class="whiteText">On what? There’s no paper!</div>
    <div id="subTitle02_104" class="orangeText">Dennis: On second thoughts, you better leave him to it for now, kid.
        <br />
        I need your help again here for a few minutes.</div>
    <div id="phoneMap02_105" class="phoneMap stretchBG"><span class="phoneMap02_105_dot"></span></div>

    <div id ="cover">
    <div id="objectHighlight02_100" class="stretchBG"></div>
        </div>
</div>
