﻿<script src="js/variableScene3config.js"></script>
<script src="js/scene3.js"></script>

<div id="scene02_03">

    <div id="sceneOver" class="stretchBG"></div>

    <div id="subTitle02_058" class="orangeText">Dennis: Come on, kid. Help me out with a few quotes, eh?</div>

    <div id="subTitle02_059_1" class="orangeText">
        Dennis: Grab the empty note-pad and take down what people say, kid.<br />
        Focus on why The Freedom Riders are protesting and if anything serious happened at Walgett. Got it?
    </div>

    <div id="subTitle02_065_1" class="orangeText">
        Johno: How ya going? Great bus this, eh! I'm a bit of a bus enthusiast between you and me...<br />
        You know, this is the first model of its kind with a restroom? What a square I am, eh!
    </div>



    <div id="subTitle02_066_1" class="orangeText">
        Johno: Reckon a few of the old duffers back in Walgett were heading for the restroom when they saw us coming.<br />
        You know, at the RSL in Walgett you're not allowed in if your Aboriginal, even if you served in the war.
    </div>
    <div id="subTitle02_066_2" class="orangeText">
        Can you believe it, in this day and age!
    </div>



    <div id="subTitle02_067" class="orangeText">
        Johno: Locals made a right mess of this bus, throwing rotten veggies and
        <br />
        sorta at it. Not sure we'll find a carwash big enough in this part of the world.
    </div>

    <div id="subTitle02_069_01" class="orangeText">Dennis: Great stuff, kid. Ya' nailed it!</div>
    <div id="subTitle02_069_02" class="orangeText">Dennis: Close, but no cigar.</div>


    <div id="subTitle02_072_1" class="orangeText">
        Charles: Hello young 'un. Helping us get the message out are ya? Good for you...
        <br />
        You know, one of the things I think is most outrageous in Australia at the moment?
    </div>

    <div id="subTitle02_072_2" class="orangeText">
        It’s that Aboriginals aren't even counted as Australian Citizens in the Census.
        <br />
        Can you imagine? In their own country.
    </div>

    <div id="subTitle02_073_1" class="orangeText">
        Charles: You know, I've also heard a rumour that the bus might be taking a surprise detour to St George.
        <br />
        Or was it Mudgee? Or maybe it just sounded like Mudgee. Don't quote me on that.
    </div>


    <div id="subTitle02_074_1" class="orangeText">
        Charles: Seems a long time since we stopped in Wellington. We didn't have to worry about people<br />
        reacting to our protests there. Know why? Cos we didn’t protest, ha!
    </div>




    <div id="subTitle02_076_01" class="orangeText">Dennis: Great stuff, kid. Ya' nailed it!</div>
    <div id="subTitle02_076_02" class="orangeText">Dennis: Close, but no cigar.</div>


    <div id="subTitle02_079_1" class="orangeText">
        Phyliss: Of all people, it was a singer who really switched me on to the terrible stuff happening in America...
        <br />
        Paul Robeson... He toured Australia five years ago. Wonderful voice he's got. Opinionated, too.
    </div>
    <div id="subTitle02_079_2" class="orangeText">
        Really switched me on to what was happening in the world.
    </div>


    <div id="subTitle02_080_1" class="orangeText">
        Phyliss: Robeson was a bit of leftie, you see. And the Government in America gave him all kinds of grief in the
        <br />
        50s. But he knew how to carry a tune, and that really helped him get the message of Civil Rights out there.
    </div>


    <div id="subTitle02_081_1" class="orangeText">
        Phyliss: Did you know, the famous American singer Marian Anderson sung  to us Freedom Riders when we
        <br />
        set out on this tour? It's true, she sang 'Go Tell It On The Mountain'. It was very moving, too.
    </div>


    <div id="subTitle02_083_01" class="orangeText">Dennis: Great stuff, kid. Ya' nailed it!</div>
    <div id="subTitle02_083_02" class="orangeText">Dennis: Close, but no cigar.</div>


    <div id="subTitle02_086" class="orangeText">
        Sue: Oh, hello. Hope you're not too shaken up after all that stuff at<br />
        Walgett RSL. It could be even more crazy at Moree, you know.
    </div>

    <div id="subTitle02_087_1" class="orangeText">
        Sue: Can you believe some mongrel actually rammed a bus into the car at Walgett!
        <br />
        Where you there when that happened? Hope you were well out of the way to be honest.
    </div>


    <div id="subTitle02_088_1" class="orangeText">
        Sue: We the members of SAFA feels very strongly that no council, no organisation,
        <br />
        no person, should discriminate based on the colour of somebody's skin. 
    </div>

    <div id="subTitle02_088_2" class="orangeText">
        But that's precisely what some of these places do, and it's not on.
    </div>

    <div id="subTitle02_089_1" class="orangeText">
        Sue: We also feel very strongly about the fresh farm-produce in this part of the world.
        <br />
        We've eaten some of the most wonderful fruit and veg out here in the country.
    </div>
    <div id="subTitle02_091_01" class="orangeText">Dennis: Great stuff, kid. Ya' nailed it!</div>
    <div id="subTitle02_091_02" class="orangeText">Dennis: Close, but no cigar.</div>


    <div id="subTitle02_094_1" class="orangeText">
        Dennis: Whoever that is, they've been in the restroom forever. Maybe we should check
        <br />
        they're okay. Feel sorry for 'em if they've only just worked out there's no bog roll!
    </div>



    <div id="subTitle02_096" class="orangeText">
        Message from Confero: You're sat the nearest, check the person in
        <br />
        restroom is okay.
    </div>

    <div id="phoneMap02_095" class="phoneMap stretchBG"><span class="phoneMap02_095_dot"></span></div>

    <div id="cover1" class="one">
        <div id="objectHighlight02_062_01" class="stretchBG"></div>
    </div>

    <div id="cover2" class="two">
        <div id="objectHighlight02_062_02" class="stretchBG"></div>
    </div>

    <div id="cover3" class="three">
        <div id="objectHighlight02_062_03" class="stretchBG"></div>
    </div>

    <div id="cover4" class="four">
        <div id="objectHighlight02_062_04" class="stretchBG"></div>
    </div>

    <div id="propOverlayImage02_059" class="stretchBG propOverlay">
        <div class="propClose"></div>
    </div>
    <div id="propOverlayImage02_064" class="stretchBG propOverlay">
    </div>
    <div id="propOverlayImage02_068" class="stretchBG propOverlay">
        <div id="notepad02_068" class="notepadQue">
            <div class="notepadQueAnsTitle">
                QUESTION:
						    <div class="notepadAns">Which of Johno's comments are you going to note down for the story? Click to choose.</div>
            </div>
            <div class="notepadQueAnsTitle">
                ANSWER:

							<ul id="one" class="notepadAns">
                                <li id="1_1"><span>The Freedom Ride bus has a restroom.</span></li>
                                <li id="1_2"><span>Aboriginals are banned from Walgett RSL in '65.</span></li>
                                <li id="1_3"><span>People threw rotten veggies at the bus.</span></li>
                                <li id="1_4"><span>None of them.</span></li>
                            </ul>
            </div>
            <br />
            Quotes Collected:
            <ul id="list1" class="quotelist">
            </ul>
        </div>
        <div class="toDennis">Show quotes to Dennis</div>
    </div>
    <div id="propOverlayImage02_071" class="stretchBG propOverlay">
    </div>
    <div id="propOverlayImage02_075" class="stretchBG propOverlay">
        <div id="notepad02_075" class="notepadQue">
            <div class="notepadQueAnsTitle">
                QUESTION:
						    <div class="notepadAns">Which of Charles' comments are you going to note down for the story? Click to choose.</div>
            </div>
            <div class="notepadQueAnsTitle">
                ANSWER:
							<ul id="two" class="notepadAns">
                                <li id="2_1"><span>That Aboriginals weren't counted as Citizens in '65.</span></li>
                                <li id="2_2"><span>The bus might be taking a surprise detour to St George.</span></li>
                                <li id="2_3"><span>That there were no protests in Wellington.</span></li>
                                <li id="2_4"><span>I'll leave all these and talk to someone else.</span></li>
                            </ul>
            </div>
            <br />
            Quotes Collected:
            <ul id="list2" class="quotelist">
            </ul>
        </div>
        <div class="toDennis">Show quotes to Dennis</div>
    </div>
    <div id="propOverlayImage02_078" class="stretchBG propOverlay">
    </div>
    <div id="propOverlayImage02_082" class="stretchBG propOverlay">
        <div id="notepad02_082" class="notepadQue">
            <div class="notepadQueAnsTitle">
                QUESTION:
						    <div class="notepadAns">Which of Phyliss' comments are you going to note down for the story? Click to choose.</div>
            </div>
            <div class="notepadQueAnsTitle">
                ANSWER:
							<ul id="three" class="notepadAns">
                                <li id="3_1"><span>Paul Robeson toured Australia five years ago.</span></li>
                                <li id="3_2"><span>The American government didn’t really like Paul Robeson.</span></li>
                                <li id="3_3"><span>Marian Anderson sung a moving rendition of Go Tell it on the Mountain.</span></li>
                                <li id="3_4"><span>None of them.</span></li>
                            </ul>
            </div>
            <br />
            Quotes Collected:
            <ul id="list3" class="quotelist">
            </ul>
        </div>
        <div class="toDennis">Show quotes to Dennis</div>
    </div>
    <div id="propOverlayImage02_085" class="stretchBG propOverlay">
    </div>
    <div id="propOverlayImage02_090" class="stretchBG propOverlay">
        <div id="notepad02_090" class="notepadQue">
            <div class="notepadQueAnsTitle">
                QUESTION:
						    <div class="notepadAns">Which of Sue's comments are you going to note down for the story? Click to choose.</div>
            </div>
            <div class="notepadQueAnsTitle">
                ANSWER:
							<ul id="four" class="notepadAns">
                                <li id="4_1"><span>Someone rammed the bus in a car near Walgett.</span></li>
                                <li id="4_2"><span>That SAFA believes in equal rights for all people.</span></li>
                                <li id="4_3"><span>That the fruit and veg in country NSW tastes great.</span></li>
                                <li id="4_4"><span>I'll leave all these and talk to someone else.</span></li>
                            </ul>
            </div>
            <br />
            Quotes Collected:
            <ul id="list4" class="quotelist">
            </ul>
        </div>
        <div class="toDennis">Show quotes to Dennis</div>
    </div>
    <div id="soundForAllBrowsers2">
    </div>

    <div id='button' style="color: #FFB13B;display:none;z-index: 600;position: absolute; bottom: 67px; text-align: center; width: 10%; left: 86%; border: solid; padding: 8px; cursor: pointer"
        class="stretchBG glow" onclick="skip();">
        Skip
    </div>


    </div>
