﻿<script src="js/variableScene1config.js"></script>
<script src="js/scene1.js"></script>

<div id="scene1">
				
                <div id="sceneOver" class="stretchBG"></div>

				<div id="subTitle02_003" class="orangeText">Come on, Dennis!</div>
                <div id="subTitle02_004" class="orangeText">Dennis: Yep. Okay. Ready. Everyone say... SA-FA!</div>
                <div id="subTitle02_005" class="orangeText">SAFA!</div>
                <div id="subTitle02_008" class="orangeText">Dennis: Great. Right-o, let's get movin. Time's getting on and I need <br />to call this story in at Moree before me deadline.</div>
                <div id="subTitle02_011" class="orangeText">Message from Confero: Find a newsworthy audio clip detailing why The<br /> Freedom Ride took place and return it to The Archive.</div>
                <div id="subTitle02_012" class="orangeText">Dennis: You must be Sue's cousin then? Well don't just stand there, <br />kid. Grab that tri-pod and satchel for me, won't cha'?</div>
                <div id="subTitle02_013" class="whiteText">Okay, sure.</div>
                <div id="subTitle02_014" class="orangeText">Message from Confero: Find the audio-clips you need and the phone will<br /> automatically make a copy of it. Better get busy asking around...</div>
                <div id="subTitle02_018" class="orangeText">Dennis: Yeah, yeah, kid. Ask me later. Right now I need to finish
<br />transcribing my recordings, so I need all the audio I can get.</div>
				
				
                <div id="phoneMap02_015" class="phoneMap stretchBG"></div>
                
                <div id="cover1">
				    <div id="objectHighlight02_016_1" class="stretchBG"></div>
                 </div>

                <div id="cover2">
                    <div id="objectHighlight02_016_2" class="stretchBG"></div>
                </div>
    
			</div>
