﻿<script src="js/variableScene2config.js"></script>
<script src="js/scene2.js"></script>

<div id="scene02_02">

    <div id="sceneOver" class="stretchBG"></div>

    <div id="subTitle02_023" class="orangeText">Dennis: Wake me up when we get there.</div>
    <div id="subTitle02_025" class="orangeText">Hey, hold on. Don't forget us. Wait up!</div>
    <div id="subTitle02_028" class="orangeText">Cheers, driver. Hey, guys. How ya'all going?</div>
    <div id="subTitle02_029" class="orangeText">Hey, Charles. Who's yer mate?</div>
    <div id="subTitle02_030" class="orangeText">Charles: Not sure. He's got a ticket, said he was with one of you<br />
        guys.</div>
    <div id="subTitle02_031" class="orangeText">Suit: Yeah, that's right, I'm down the back with them.</div>
    <div id="subTitle02_033" class="orangeText">Driver: Next stop Moree folks. And it's only a short ride!</div>
    <div id="subTitle02_034" class="orangeText">Dennis: Thank Crikey for that.</div>
    <div id="subTitle02_038" class="orangeText">Dennis: Maybe someone's trying to tell me something... No rest for<br />
        the wicked, eh.?</div>
    <div id="subTitle02_039" class="whiteText">I guess not.</div>
    <div id="subTitle02_044" class="orangeText">Dennis: No bog roll, kid. You’ll have to cross yer legs 'til Moree.</div>

    <div id="subTitle02_048_1" class="orangeText">
        Dennis: May as well transcribe my last interview, seeing as I'm up. You can
                    <br />
        help me, kid. Now, what did you do with my bag? It was here a minute ago.
    </div>

    <div id="subTitle02_051" class="orangeText">Dennis: Hey, anyone seen my satchel?</div>
    <div id="subTitle02_052" class="orangeText">Sorry Dennis. No, mate. Sorry. Nope. Not up here, buddy. Not here.</div>


    <div id="subTitle02_053_1" class="orangeText">
        Dennis: I'm stuffed without that bag. All my notes were in there, my Dictaphone, the works. <br />
        And I'd finally convinced my editor to run a big piece on the Freedom Ride, too...</div>
    <div id="subTitle02_053_2" class="orangeText"> 
        It's last-minute stuff, but maybe you and me can put together a fresh story?</div>

    <div id="subTitle02_054_1" class="orangeText">
        Message from Confero: If Dennis doesn't find his bag the Freedom Riders' story may never be told. <br />
        Help Dennis put a fresh story together before the bus reaches Moree.</div>




    <div id="phoneMap02_040" class="phoneMap stretchBG"><span class="phoneMap02_040_dot"></span></div>
    <div id="phoneMap02_045" class="phoneMap stretchBG"><span class="phoneMap02_045_dot"></span></div>

    <div id="cover">
        <div id="objectHighlight02_049" class="stretchBG"></div>
    </div>
</div>
