﻿<script src="js/variableScene6config.js"></script>
<script src="js/scene6.js"></script>
<div id="scene02_06">

<div id="subTitle02_153" class="orangeText">Confero: No prizes for guessing who that was. Thankfully you got there<br /> before the Dictaphone was flushed down the toilet.</div>
<div id="subTitle02_154" class="orangeText">Dennis: You’ve found all me stuff, legend. Listen to all the audio <br />clips you want, kid.</div>
<div id="subTitle02_156" class="orangeText">Confero: Well done! You’ve found the audio clips for The Archive.</div>

    <div id="cover1">
    <div id="objectHighlight02_146" class="stretchBG"></div>
        </div>

    <div id="cover2">
    <div id="objectHighlight02_148" class="stretchBG"></div>
    </div>

</div>