﻿<script src="js/variableConfigscene5.js"></script>
<script src="js/scene5.js"></script>

<div id="scene5">


    <div id="sceneOver" class="stretchBG"></div>

    <div id="subTitle03_060" class="orangeText">
        Dennis: Hey, kid. Not sure you should be in here. Journos only.
    </div>

    <div id="subTitle03_061" class="whiteText">Oh, sorry. I didn't realise.</div>



    <!--large dialogue -->
    <div id="subTitle03_062_1" class="orangeText">
        Dennis: Not to worry, kid. I wouldn’t normally mind, but I<br />
        got a bit of a problem on me hands that’s stressing me out... 
    </div>
    <div id="subTitle03_062_2" class="orangeText">
        Me editor thinks this Mabo stuff is a huge story. And he’s right, for all sorts of reasons. 
    </div>
    <div id="subTitle03_062_3" class="orangeText">
        One of ‘em being if the decision goes Mabo’s way some folks might might get confused about <br />
        who owns the land their house is on – especially with how sensational some papers can be.
    </div>
    <div id="subTitle03_062_4" class="orangeText">
        That’s all nonsense of course, the decision wouldn’t affect that stuff at all...<br />
    </div>
    <div id="subTitle03_062_5" class="orangeText">
        Anyway, the pressure’s on and I’ve only managed to lose my Dictaphone... Last time I<br />
        did that was over 20 years ago!.. Wish I knew where I’d left it this time.
    </div>
    <div id="subTitle03_062_6" class="orangeText">
        I need to fax across a story as soon as the Justices deliver their decision on Mabo, but<br />
        all I can find to cobble something together from is this bloomin’ book on Terra Nullius.
    </div>
    



    <div id="subTitle03_066" class="orangeText">
        Dennis: Sorry, kid. That's all I've got to go on, only thing I'll<br />
        trade that for is me Dictaphone.
    </div>


    <div id="subTitle03_068" class="orangeText">
        Dennis: Hey, kid. You've found my Dictaphone! You little legend.<br />
        The only thing I've got to trade you is this old book I'm afraid..
    </div>


    <div id="subTitle03_070" class="orangeText">
        Dennis: All yours. Hope to see you again one day. You kinda remind<br />
        me of someone actually. But... never mind.
    </div>



    <div id="subTitle03_072_1" class="orangeText">
        You walk down the corridors until you find the room of the QC representing The State<br />
        of Queensland in the Mabo case. You ask if they can help you retrieve The Evidence Bag.
    </div>



    <div id="close1">
        <div id="objectHighlight03_063_01" class="stretchBG"></div>
        
    </div>
    <div id="close2">
        <div id="objectHighlight03_063_02" class="stretchBG"></div>
    </div>

    <div id="propOverlayImage03_064" class="stretchBG propOverlay">
        <div class="propClose"></div>
    </div>
    <div id="propOverlayImage03_065" class="stretchBG propOverlay">
        <div class="propClose"></div>
    </div>


    <div id="phoneMap03_071" class="phoneMap stretchBG"><span class="phoneMap03_071_dot"></span></div>




    <div id="TStimer">00:15:00</div>
      <div id="soundForAllBrowsers2">
    </div>
</div>
