﻿<script src="js/variableConfigscene6.js"></script>
<script src="js/scene6.js"></script>

<div id="scene6">


    <div id="sceneOver" class="stretchBG"></div>


    <!--large dialogue -->
    <div id="subTitle03_078_1" class="orangeText">
        Queen’s Council: Evidence Bag, you say? Well, I don’t see how I can help really. <br />
        The only thing I have here is the Mabo Brief.
    </div>
    <div id="subTitle03_078_2" class="orangeText">
        I was supposed to get a book on Terra Nullius, but think the new lad <br />
        in the post room must have lost his specs!
    </div>
    <div id="subTitle03_078_3" class="orangeText">
        Terra Nullius is key to this case, you know. So I like to read as much as I can about it.
    </div>
    <div id="subTitle03_078_4" class="orangeText">
        If the Justices overturn the original Mabo decision of the Queensland <br />
        Supreme Court they’ll also overturn the concept of Terra Nullius.
    </div>
    <div id="subTitle03_078_5" class="orangeText">
        Which in turn means that our law must recognise ‘Native Title’ <br />
        to land has existed before European settlement.
    </div>
    <div id="subTitle03_078_6" class="orangeText">
        It’s always good to have a spare copy of something as significant as The Mabo Brief, I<br />
        suppose. But I’d trade it in a heart-beat for my book on Terra Nullius.
    </div>


    <!--leave that book-->
    <div id="subTitle03_080" class="orangeText">
        Queen’s Council: Well done. Leave that here. The Mabo Brief<br />
        is all yours.
    </div>


    <div id="subTitle03_083" class="orangeText">
        Confero: ‘Great! You’ve got the brief.      
    </div>





    <div id="subTitle03_084" class="orangeText">
        Queen’s Council: Good luck getting that Evidence Bag to The Registrar<br />
        on time. Say hello to Bryan from me if you see him, won’t you!
    </div>


    <div id="subTitle03_086" class="orangeText">
        You enter the room where the Lawyer representing Mabo sits waiting<br />
        for the decision.
    </div>



    <div id="close1"><div id="objectHighlight03_081" class="stretchBG"></div></div>

    <div id="propOverlayImage03_082" class="stretchBG propOverlay">
        <div class="propClose"></div>
    </div>

   
    <div id="phoneMap03_085" class="phoneMap stretchBG"><span class="phoneMap03_085_dot"></span></div>
    <div id="TStimer">00:15:00</div>
      <div id="soundForAllBrowsers2">
    </div>



</div>
