﻿<script src="js/variableConfigscene2.js"></script>
<script src="js/scene2.js"></script>

<!--Scene 2 Starts-->

<div id="scene2">




    <div id="sceneOver" class="stretchBG"></div>

    <!--15min dialogue-->
    <div id="subTitle03_017" class="orangeText">
        Confero: You have 15 minutes to find the evidence bag and bring it<br />
        to The Registrar.
    </div>

    <!--15min dialogue ended-->



    <div id="subTitle03_020" class="orangeText">Confero: It’s empty. There are no rulings for you to collect.</div>

    <div id="subTitle03_022" class="orangeText">Confero: You have found a copy of the High Court Map.</div>




    <div id="subTitle03_025" class="orangeText">
        Confero: The layout for the High Court is now on your phone. You<br />
        can search for The Evidence Bag without getting lost.
    </div>



    <div id="subTitle03_027" class="orangeText">
        Confero: You’re heading towards the Court Waiting Room, where<br />
        people involved in cases sit and chat.
    </div>

    <div id="close1">
        <div id="objectHighlight03_019_01" class="stretchBG"></div>
    </div>
    <div id="close2">
        <div id="objectHighlight03_019_02" class="stretchBG"></div>
    </div>
    <div id="close3">
        <div id="objectHighlight03_019_03" class="stretchBG"></div>
    </div>

    <div id="propOverlayImage03_021" class="stretchBG propOverlay">
        <div class="propClose"></div>
    </div>

    <div id="phoneMap03_024" class="phoneMap stretchBG"><span class="phoneMap03_024_dot" onclick="greendot();"></span></div>
    <!--<div id="TStimer">00:15:00</div>-->



</div>
<!--Scene 2 Ends-->




















