﻿<script type="text/javascript" src="js/variableConfigscene4.js"></script>
<script type="text/javascript" src="js/scene4.js"></script>


<div id="scene4">


    <div id="sceneOver" class="stretchBG"></div>

    <div id="subTitle03_051" class="orangeText">Confero: I'd hang on to that if I were you..</div>


    <div id="close_043">
        <div id="objectHighlight03_043" class="stretchBG"></div>
    </div>

    <div id="close1">
        <div id="objectHighlight03_047_01" class="stretchBG"></div>
    </div>
    <div id="close2">
       <div id="objectHighlight03_047_02" class="stretchBG"></div>
        
    </div>
    <div id="close3">
        <div id="objectHighlight03_047_03" class="stretchBG"></div>
    </div>

    <div id="propOverlayImage03_048" class="stretchBG propOverlay">
        <div class="propClose"></div>
    </div>
    <div id="propOverlayImage03_049" class="stretchBG propOverlay">
        <div class="propClose"></div>
    </div>
    <div id="propOverlayImage03_050" class="stretchBG propOverlay">
       <div class="propClose"></div>
    </div>

    <div id="phoneMap03_053" class="phoneMap stretchBG"><span class="phoneMap03_053_dot" onclick="greendot();"></span></div>

    <div id="TStimer">00:15:00</div>







</div>
<!--Scene 4 Ends-->

