﻿<script src="js/variableConfigscene1.js"></script>
<script src="js/scene1.js"></script>


<!--Scene 1 Starts-->

<div id="scene1">


    <div id="sceneOver" class="stretchBG"></div>


    <!--Mabo Decision dialogue-->
    <div id="subTitle03_006" class="orangeText">
        Confero: Bring back a certified copy of the Mabo Decision<br />
        as soon as you can, please!
    </div>
    <!--Mabo Decision dialogue ended-->



    <!--printer dialogue-->
    <div id="subTitle03_008_1" class="orangeText">
        Registrar: Oh, hello. So sorry to keep you waiting. I was trying to fix this old printer.<br /> 
        I am sure it's easier to do a rubik's cube you know... Now, how can I help?
    </div>



    <!--printer dialogue ended-->


    <!--certified dialogue-->
    <div id="subTitle03_009" class="whiteText">
        Can you tell me where I can get a certified copy of the<br />
        Mabo Decision, please?
    </div>
    <!--certified dialogue-->



    <!--registrar1 dialogue-->
    <div id="subTitle03_010_1" class="orangeText">
        Registrar: Mabo, eh? I was just thinking about that. The new lad in<br />
        the post room made a right mess of his deliveries this morning, you see. 
    </div>
    <div id="subTitle03_010_2" class="orangeText">
        And yours truly has to go and find The Evidence Bag for the Mabo Decision before The <br />
        Justices get back with their verdict. Goodness knows whose in-tray he left it in.
    </div>
    
    <!--registrar1 dialogue ended-->




    <!--registrar2 dialogue-->
    <div id="subTitle03_012_1" class="orangeText">
        Registrar: Goodness, their Worships’ will be back with their verdict soon!.. Looks like nobody will be <br />
        getting copies of the Mabo Decision today, my photocopier down here is what I use for copies you see.
    </div>
    <div id="subTitle03_012_2" class="orangeText">
        Unless... How about you find the evidence bag and bring it back to me? That way I’ll have <br />
        time to fix this printer and give you a copy of the decision when it’s in.
    </div>
    <!--registrar2 dialogue ended-->




    <div id="subTitle03_013_01" class="whiteText">Okay, sure.</div>



    <!--cctv dialogue-->
    <div id="subTitle03_013_02" class="orangeText">
        Registrar: Great, I’ll get cracking with this photocopier then.<br />
        Grab a map, and get your skates on...
    </div>
   
    <!--cctv dialogue ended-->

    <div id="phoneMap03_005" class="phoneMap stretchBG"></div>

     <div id="soundForAllBrowsers2">
    </div>
</div>
<!--Scene 1 Ends-->


