﻿<script src="js/variableConfigscene8.js"></script>
<script src="js/scene8.js"></script>

<div id="scene8">

    <div id="sceneOver" class="stretchBG"></div>

    <div id="TStimer">00:15:00</div>


    <div id="subTitle03_103" class="orangeText">
        Registrar: You’ve got the Evidence Bag, great! Just in time.<br />
        And my photocopier is fixed, too.
    </div>



    <div id="subTitle03_105_1" class="orangeText">
        Registrar: Now, I should tell you there have been quite a few people requesting a <br />
        copy of the decision while you’ve been chasing down that Evidence Bag...       
    </div>



    <div id="subTitle03_113_1" class="orangeText">
        Registrar: Great, very well done. Here you go, one Certified copy of the Mabo Decision... <br />
        Probably worth keeping that somewhere safe, you know. It might be worth something to someone one day.
    </div>



    <div id="propOverlayQuestion03_108" class="propOverlayQuestion stretchBG">
        <div id="Queans1">
             <div class="wrap-q">
            <div class="queTitle">
                What was meant by the term 'terra nullius'?
            </div>
                 </div>
            <div class="ansTitle">
                <ul>
                    <li id="ans1_1"><span>Land that is owned.</span></li>
                    <li id="ans1_2"><span>Land that was inhabited.</span></li>
                    <li id="ans1_3"><span>Land belonging to no one.</span></li>
                    <li id="ans1_4"><span>Land that was owned by someone previous.</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="propOverlayQuestion03_109" class="propOverlayQuestion stretchBG">
        <div id="Queans2">
             <div class="wrap-q">
            <div class="queTitle">
                What was the other significant case that affected the Mabo decision?
            </div>
                 </div>
            <div class="ansTitle">
                <ul>
                    <li id="ans2_1"><span>The Wik Decision.</span></li>
                    <li id="ans2_2"><span>The Wick Decision.</span></li>
                    <li id="ans2_3"><span>The Rick Decision.</span></li>
                    <li id="ans2_4"><span>THE RIC Decision.</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="propOverlayQuestion03_110" class="propOverlayQuestion stretchBG">
        <div id="Queans3">
             <div class="wrap-q">
            <div class="queTitle">
                What important legal principle was established by the Mabo decision?
            </div>
                 </div>
            <div class="ansTitle">
                <ul>
                    <li id="ans3_1"><span>Native Title.</span></li>
                    <li id="ans3_2"><span>Extra Title.</span></li>
                    <li id="ans3_3"><span>Australian Title.</span></li>
                    <li id="ans3_4"><span>Free Title.</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="propOverlayQuestion03_111" class="propOverlayQuestion stretchBG">
        <div id="Queans4">
             <div class="wrap-q">
            <div class="queTitle">
                What is meant by the term 'Native Title'?
            </div>
                 </div>
            <div class="ansTitle">
                <ul style="line-height:18px;">
                    <li id="ans4_1"><span>That Indigenous Australians don't have a pre-existing claim and kinship to the
land that gives them rights to use the land that they inhabited prior to European colonisation.</span></li>
                    <li id="ans4_2"><span>That European colonists have the only legal title to Australia based on the Terra Nullius principle.</span></li>
                    <li id="ans4_3"><span>That Indigenous Australians have a pre-existing claim and kinship to the land that
gives them rights to use the land that they inhabited prior to European colonisation.</span></li>
                    <li id="ans4_4"><span>That Indigenous Australians are legal pre-existing lease holders of all of Australia.</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="phoneMap03_101-5" class="phoneMap stretchBG"></div>


    <div id="soundForAllBrowsers2">
    </div>


</div>
