﻿<script src="js/variableConfigscene7.js"></script>
<script src="js/scene7.js"></script>

<div id="scene7">

    <div id="sceneOver" class="stretchBG"></div>


    <!--Bryan Keon-Cohen1-->
    <div id="subTitle03_091_1" class="orangeText">
        Bryan Keon-Cohen: Evidence Bag, for The Registrar, you say? Well normally I’d say yes. <br />
        But thanks to the mix-up in the post room, I’m missing my copy of the Mabo Brief...
    </div>
    <div id="subTitle03_091_2" class="orangeText">
        It’s very important I always have my hands on that brief. And I’ve grown quite attached over the years.<br />
        You see, Eddie Mabo first led a group from the Mer Islands to the Supreme Court of Queensland way back in 1982.
    </div>
    <div id="subTitle03_091_3" class="orangeText">
        Ten years, to get here! Phew!... Tell you what, find a copy of the<br />
        Mabo Brief for me and I will trade it with you for the Evidence Bag.
    </div>
    




    <div id="subTitle03_093" class="orangeText">
        Bryan Keon-Cohen: You’ve found the Mabo brief, great!<br />
        Leave it with me and take The Evidence Bag.
    </div>




    <div id="subTitle03_096" class="orangeText">
        Confero: I think that brief is important. You’re getting pretty<br />
        good at this.
    </div>




    <div id="subTitle03_097_1" class="orangeText">
        Bryan Keon-Cohen: Good job. There aren’t enough people around here with your skills... <br />
        Better get that Evidence Bag to the Registrar before the Justices return.
    </div>
    




    <div id="close1">
        <div id="objectHighlight03_094" class="stretchBG"></div>
    </div>

    <div id="propOverlayImage03_095" class="stretchBG propOverlay">
        <div class="propClose"></div>
    </div>

    <div id="phoneMap03_099" class="phoneMap stretchBG"><span class="phoneMap03_099_dot" onclick="greendot();"></span></div>

    <div id="TStimer">00:15:00</div>
    <div id="soundForAllBrowsers2">
    </div>

</div>
