﻿<!--Scene 3 htmlStart-->

<script src="js/variableConfigscene3.js"></script>
<script src="js/scene3.js"></script>


<div id="scene3">


    <div id="sceneOver" class="stretchBG"></div>


    <div id="subTitle03_033" class="orangeText">
        Aboriginal Lady: Excuse me, I’ve got some important reading<br />
        to do here. You carry on.
    </div>


    <div id="subTitle03_036_1" class="orangeText">
        Aboriginal Lady: Interested in my book, eh? It’s not very exciting, all legal stuff. <br />
        I’m studying to be a lawyer, see. Eddie Mabo’s case really inspired me.
    </div>
    <div id="subTitle03_036_2" class="orangeText">
        Now, please do excuse me, I need to keep on reading, I have got a big exam coming up soon.
    </div>



    <div id="subTitle03_038" class="orangeText">
        Confero: You’re found a security pass. Looks like it could come<br />
        in handy.
    </div>



    <div id="close1">
        <div id="objectHighlight03_034_01" class="stretchBG"></div>
    </div>
    <div id="close2">
       <div id="objectHighlight03_034_02" class="stretchBG"></div>
        
    </div>
    <div id="close3">
        <div id="objectHighlight03_034_03" class="stretchBG"></div>
    </div>



    <div id="propOverlayImage03_035" class="stretchBG propOverlay">
        <div class="propClose"></div>
    </div>
    <div id="propOverlayImage03_037" class="stretchBG propOverlay">
        <div class="propClose"></div>
    </div>

    <div id="phoneMap03_039" class="phoneMap stretchBG"><span class="phoneMap03_039_dot" onclick="greendot();"></span></div>
    <div id="TStimer">00:15:00</div>

    
     <div id="soundForAllBrowsers2">
    </div>
</div>
