/* Scroll Bar Master Styling Starts Here */
/* All comments can be freely removed from the css */

.scrollgeneric {
line-height: 1px;
font-size: 1px;
position: absolute;
top: 0; left: 0;
}

.vscrollerbase {
width:8px;
background-image: url(../images/scroll1.png) !important;
/*visibility: visible !important;*/
}
.vscrollerbar {
/*background-color:#fbc567;*/
background-image: url(../images/scroll.png) !important;
background-repeat: no-repeat !important;
height: 21px !important;
border-radius:3px;
width:6px;
/*visibility: visible !important;*/
margin-left: 3px;
}
.hscrollerbase {
height: 10px;
background-color: white;
left: 174px;
}
.hscrollerbar {
height: 10px;
background-color: black;
}

.scrollerjogbox {
width: 10px;
height: 10px;
top: auto; left: auto;
bottom: 0px; right: 0px;
background-color: gray;
}
#mycustomscroll_vscrollerbase {
	left: 174px !important;
}
#phoneText_mcontentwrapper {

    height: 190px !important;
}
#phoneText_contentwrapper {
    width: 90% !important;
}
#pangoText_mcontentwrapper {

    height: 190px !important;
}
#pangoText_contentwrapper {
    width: 95%;
}
#pangoText_vscrollerbase {
	left: 116px !important;
}