﻿@charset "utf-8";
/* CSS Document */
/*reset css start*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*reset css end*/

@font-face {
    font-family: 'TS';
    src: url('../fonts/helveticaneueltcom-bdcn.eot');
    src: url('../fonts/helveticaneueltcom-bdcn.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/helveticaneueltcom-bdcn.woff') format('woff'), 
         url('../fonts/helveticaneueltcom-bdcn.ttf') format('truetype'), 
         url('../fonts/helveticaneueltcom-bdcn.svg#helveticaneueltcom-bdcn') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 auto;
    font-family: 'TS';
    font-size: 16px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

a {
    cursor: url(../images/hand.png), auto;
    font-size: 11px;
    cursor: pointer;
}

.stretchBG {
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.glow {
    text-shadow: 0 0 13px rgba(255,144,0,0.8), 0 0 8px rgba(255,144,0,0.8);
    /*filter: Shadow(Color=#FF9002, Direction=45, Strength=1);*/
    color: #f7dac2;
}

.noglow {
    /*text-shadow: 0 0 13px rgba(255,144,0,0.8), 0 0 8px rgba(255,144,0,0.8);
    filter: Shadow(Color=#FF9002, Direction=45, Strength=1);*/
    text-shadow: none;
    margin-top: 1%;
}

/*----------------Framework css :: Start----------------*/
#startScreen {
    position: absolute;
    color: #ffb638;
    font-size: 41px;
    text-align: center;
    line-height: 50px;
    top: 45%;
    width: 100%;
    padding: 10px 0;
    display: none;
}

#endScreen {
    position: absolute;
    color: #ffb638;
    font-size: 41px;
    text-align: center;
    top: 33%;
    width: 100%;
    line-height: 50px;
    padding: 10px 0;
    display: none;
}

#endScreen span {
    text-transform: none;
    margin-top: 40px;
    font-size: 19px;
    line-height: 10px;
}

#preloaderGif {
    padding-right: 6px;
}

#TSscene {
    display: block;
    opacity: 1;
    filter: alpha(opacity=100);
}

#TScontainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    opacity: 1;
    -webkit-opacity: 1;
}

#Dummy {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    opacity: 1;
    -webkit-opacity: 1;
}

#sceneOver {
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 500;
    opacity: 0.5;
    -webkit-opacity: 0.5;
    display: none;
}

#TSframe {
    background-image: url(../images/timestorm_G02_VG01_headsupdisplay_01.png);
    color: black;
    height: 100%;
    left: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}

#TSprogress {
    float: left;
    font-size: 16px;
    position: absolute;
    top: 6%;
    left: 2%;
    z-index: 4;
    display: none;
    text-transform: uppercase;
}

#TSmute {
    background-image: url(../images/mute-1.png);
    width: 7.524%;
    height: 3.46%;
    position: absolute;
    right: 2%;
    top: 5.4%;
    z-index: 5;
}

    #TSmute:hover {
        background-image: url(../images/mute-2.png);
    }

#TSsave {
    background-image: url(../images/save-1.png);
    width: 6.38%;
    height: 3.76%;
    position: absolute;
    z-index: 6;
    right: 9.5%;
    top: 5%;
}

    #TSsave:hover {
        background-image: url(../images/save-2.png);
    }

#TScompleted {
    left: 2%;
    position: relative;
    margin-top: 5px;
    top: 7.7%;
    z-index: 7;
    display: none;
}

.TSsup {
    position: relative;
    font-size: 17px;
    top: -12px;
    left: 2px;
    z-index: 8;
}

.per {
    font-size: 30pt;
}

#TStitle {
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    margin-top: .2%;
    text-transform: uppercase;
    display: none;
    letter-spacing: 6px;
    width: 20%;
    left: 41%;
    position: absolute;
    top: 2%;
    z-index: 9;
}

.topic {
    color: #f0ad35;
    font-size: 14px;
    letter-spacing: 0;
    position: relative;
    top: -14px;
    left: -10px;
    z-index: 10;
}

.chapter {
    color: #c98f2c;
    font-size: 10px;
    letter-spacing: 0;
    position: relative;
    top: -15px;
    padding-right: 10px;
    z-index: 11;
}

#TStimer {
    position: absolute;
    bottom: 4%;
    left: 45%;
    color: #f7dac2;
    width: 10%;
    text-align: center;
    font-size: 20px;
    display: none;
    background-image: url(../images/timer.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 10px;
    padding-left: 10px;
    letter-spacing: 2px;
    z-index: 12;
    background-size: 31px 34px;
    background-position: 0;
    padding-top: 4px;
}

.orangeText {
    position: absolute;
    bottom: 67px;
    text-align: center;
    width: 80%;
    left: 10%;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);
    filter: Shadow(Color=#000000, Direction=0, Strength=3);
    font-size: 21px;
    z-index: 600;
    color: #FFB13B;
    display: none;
}

.whiteText {
    position: absolute;
    bottom: 67px;
    text-align: center;
    width: 80%;
    left: 10%;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);
    filter: Shadow(Color=#000000, Direction=0, Strength=3);
    font-size: 21px;
    z-index: 600;
    color: #ffffff;
    display: none;
}


#phoneText {
    top: 49%;
    position: absolute;
    left: 3.5%;
    color: #f7dac2;
    width: 14.2%;
    font-size: 10pt;
     height: 21.3%;
    z-index: 15;
    outline:0;
    overflow: auto;
    font-family: helvetica;
    /*text-shadow: 0 0 3px #FF9002, 0 0 3px #FF9002;
    filter: Shadow(Color=#FF9002, Direction=45, Strength=1);*/
}

    #phoneText ul {
        list-style-type: none;
        position: relative;
        padding: 0;
        overflow: hidden;
        margin-right: 1.5%;
    }

    #phoneText li {
        /*padding-bottom:2px;*/
        padding-top: 6px;
        padding-left: 23px;
        background-image: url(../images/icon.png);
        background-repeat: no-repeat;
        background-position: 0 8px;
        font-size: 10pt;
        line-height: 16px;
    }

.listIcon1 {
    background-image: url(../images/icon1.png) !important;
}

.listIcon2 {
    background-image: url(../images/icon2.png) !important;
}

.listIcon3 {
    background-image: url(../images/icon3.png) !important;
}

#pango {
    width: 9%;
    font-size: 12pt;
    position: absolute;
    top: 41%;
    right: 1.6%;
    line-height: 13px;
    height: 21%;
    padding-right: 1%;
    z-index: 16;
    color: #ffffff;
}

/* included in HUD image
#pangoTitle {
	width: 87%; font-size: 18px; position: relative; text-align: right; display: none; float: right; line-height: 20px;
}
*/
#pangoText {
    position: absolute;
    overflow: hidden;
    height: 95%;
    top: 8%;
    width: 100%;
    padding-left: 0% !important;
    padding-right: 3%;
    text-align: center;
    line-height: 13pt;
    color: rgba(255,255,255,0.8);
    z-index: 18;
    text-shadow: 0 0 5px #FF9002, 0 0 5px #FF9002;
    filter: Shadow(Color=#FF9002, Direction=45, Strength=1);
}

#pangoText-actual {
    width: 100%;
    font-size: 10px;
    position: relative;
    margin-left: 2px;
    text-decoration: underline;
}
#pangoText-actual a {
    padding-bottom: 10px;    
}

/*Customise vertical scroll thumb start*/
/*
#phoneText::-webkit-scrollbar, #pangoText::-webkit-scrollbar{
	width:6px;
	background-image: url(../images/scroll1.png) !important;
	background-repeat: repeat-y;
} 
#phoneText::-webkit-scrollbar-thumb, #pangoText::-webkit-scrollbar-thumb{
	background-color:#e1d5c7;
	border-radius:3px;
}
#phoneText::-webkit-scrollbar-thumb:hover, #pangoText::-webkit-scrollbar-thumb:hover{
	background-color:#e1d5c7;
	border:1px solid #ffffff;
}
#phoneText::-webkit-scrollbar-thumb:active, #pangoText::-webkit-scrollbar-thumb:active{
	background-color:#a46a13;
	border:1px solid #ffffff;
} */
/*Customise vertical scroll thumb end*/



#newContainer {
}
/*----------------Framework css :: End----------------*/


/*----------------Background-01 css :: Start----------------*/
.phoneMap {
    width: 13%;
    height: 18%;
    left: 4.5%;
    margin: 0 auto;
    position: absolute;
    top: 29.5%;
    z-index: 17;
}

#phoneMap07 {
    background-image: url(../images/timestorm_G02_VG01_phonemap_01.png);
    display: none;
}

/*pointer added to object highlight, save, mute buttons*/
div[id*="objectHighlight"]:hover {
	cursor: pointer;
}
span[class*="dot"]:hover {
	cursor: pointer;
}
span[class*="Dot"]:hover {
	cursor: pointer;
}
#TSsave:hover {
    cursor: pointer;
}
#TSmute {
    cursor: pointer;
}

#objectHighlight8 {
    background-image: url(../images/timestorm_G02_VG01_Objecthighlight_01.png);
    width: 6.8%;
    height: 5.83%;
    left: 32.1%;
    margin: 0 auto;
    position: absolute;
    top: 42.3%;
    z-index: 18;
    display: none;
}

.propOverlayVideo {
    width: 57.8%;
    height: 68.83%;
    left: 21.5%;
    margin: 0 auto;
    position: absolute;
    top: 15.3%;
    z-index: 501;
}


.propOverlay {
    width: 57%;
    height: 67%;
    min-height: 586px;
    left: 23%;
    position: absolute;
    top: 16%;
    z-index: 502;
}

#propOverlayImage11 {
    background-image: url(../images/timestorm_G02_VG01_propoverlay_01.png);
    display: none;
}

#propOverlayImage12 {
    background-image: url(../images/timestorm_G02_VG01_propoverlay_02.png);
    display: none;
}

.propClose {
    background-color: transparent;
    right: 0;
    top: 5px;
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1000;
    cursor: pointer;
}
.propClose1 {
    background-color: transparent;
    right: 0;
    top: 5px;
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1000;
    cursor: pointer;
}

iframe {
    width: 88%;
    height: 70%;
    left: 6%;
    position: absolute;
    top: 15.5%;
    z-index: 503;
    display: none;
}

/*----------------Background-01 css  :: End----------------*/

/*----------------Background-02 css :: Start----------------*/
#propOverlayImage36 {
    background-image: url(../images/timestorm_G02_VG01_propoverlay_03.png);
    display: none;
}

#phoneMap16 {
    background-image: url(../images/timestorm_G02_VG01_phonemap_02.png);
    display: none;
}
/*----------------Background-02 css  :: End----------------*/

/*----------------Background-03 css :: Start----------------*/
#objectHighlight41-1 {
    background-image: url(../images/timestorm_G02_VG01_Objecthighlight_02.png);
    width: 30.4%;
    height: 29%;
    left: 17.5%;
    margin: 0 auto;
    position: absolute;
    top: 27.7%;
    z-index: 19;
    display: none;
}

#objectHighlight41-2 {
    background-image: url(../images/timestorm_G02_VG01_Objecthighlight_03.png);
    width: 11.4%;
    height: 16.8%;
    left: 46.5%;
    margin: 0 auto;
    position: absolute;
    top: 30.7%;
    z-index: 20;
    display: none;
}

#objectHighlight41-3 {
    background-image: url(../images/timestorm_G02_VG01_Objecthighlight_04.png);
    width: 19.4%;
    height: 42.8%;
    left: 68.3%;
    margin: 0 auto;
    position: absolute;
    top: 28.3%;
    z-index: 21;
    display: none;
}

#propOverlayImage44 {
    background-image: url(../images/timestorm_G02_VG01_propoverlay_04.png);
    display: none;
}

#propOverlayImage47 {
    background-image: url(../images/timestorm_G02_VG01_propoverlay_05.png);
    display: none;
}

#propOverlayImage50 {
    background-image: url(../images/timestorm_G02_VG01_propoverlay_06.png);
    display: none;
}

#propOverlayQuestion53 {
    background-image: url(../images/timestorm_G02_VG01_question_01.png);
    display: none;
}

#propOverlayQuestion56 {
    background-image: url(../images/timestorm_G02_VG01_question_01.png);
    display: none;
}

.propOverlayQuestion {
    width: 59%;
    /*height: 63%;*/
    height:527px;
    left: 23%;
    position: absolute;
    top: 21%;
    z-index: 504;
    color: #ffffff;
    font-size: 10pt;
}

#leftCol {
    position: absolute;
    top: 18%;
    left: 6%;
    width: 42%;
    font-size: 8pt;
    letter-spacing: 1px;
    color: #f7dac2;
    /*text-shadow: 0 0 1px #E6DFD7, 0 0 1px #E9E4DF;
    filter: Shadow(Color=#E6DFD7, Direction=45, Strength=1);*/
    text-shadow: none;
}

#rightCol {
    position: absolute;
    top: 18%;
    left: 50%;
    width: 42%;
    font-size: 8pt;
    letter-spacing: 1px;
    color: #f7dac2;
    /*text-shadow: 0 0 1px #E6DFD7, 0 0 1px #E9E4DF;
    filter: Shadow(Color=#E6DFD7, Direction=45, Strength=1);*/
    text-shadow: none;
}

#QueAns {
    position: absolute;
    top: 20%;
    width: 90%;
}

.QueAns {
    position: absolute;
    top: 20%;
    left: 6%;
    width: 90%;
    color: #f7dac2;
}

#QueAnsDiv1 {
 margin-top: 43px;
float: left;
}

#QueAnsDiv2 {
    margin-top: 43px;
float: left;
}

#QueAnsDiv3 {
   margin-top: 43px;
float: left;
}

#QueAnsDiv4 {
   margin-top: 43px;
float: left;
}
#QueAnsDiv5,#QueAnsDiv6,#QueAnsDiv7,#QueAnsDiv8,#QueAnsDiv9 {
     margin-top: 43px;
float: left;
}
.queTopFrame {
    position: absolute;
    top: 18%;
    left: 7%;
    width: 85%;
    height: 20%;
}

.QueAns1 {
    position: absolute;
    top: 40%;
    left: 7%;
    width: 85%;
    height: 51%;
    color: #f7dac2;
}
.wrap-q{
border-bottom: 2px solid #745219;
margin-left: 3.4%;
width: 92.4%;
margin-bottom: 15px;
}
.queTitle {
    background-image: url(../images/timestorm_G02_VG01_questiontitle_01.png);
    background-repeat: no-repeat;
    font-size: 10pt;
   /* text-shadow: 0 0 2px #E6DFD7, 0 0 1px #E9E4DF;
    filter: Shadow(Color=#E6DFD7, Direction=45, Strength=1);*/
    letter-spacing: 1px;
    background-size: 115px 53px;
   margin-left: 3.2%;
    margin-top: 87px;
    background-position: -17px 0;
    padding-top: 30px;
    padding-right: 20px;
    color: #f7dac2;
    /*height: 62px;*/
    padding-bottom:15px;

}
    .queTitle > div {
    margin-top:10px;
    
    }
.ansTitle {
    background-image: url(../images/timestorm_G02_VG01_answer_01.png);
    background-repeat: no-repeat;
    padding-top: 1%;
    padding-right: 20px;
    margin-left: 6.2%;
    /*margin-top: 14px;*/
    margin-top: 0px;
    color: #f7dac2;
    background-size: 115px 53px;
    background-position: -24px -20px;
}


.ansTitle ul {
    list-style-type: none;
    line-height: 21px;
    padding-top: 30px;
    font-size: 10pt;
    letter-spacing: 1px;
}

.ansTitle li {
    position: relative;
    margin-bottom: 10px;
    text-transform: none;
    text-indent: -20px;
    padding-left: 20px;
}
.ansTitle li span {
    cursor: pointer;    
    padding-left: 21px;
    background-image: url(../images/icon.png);
    background-repeat: no-repeat;
    background-position: 0 0px;
    padding-bottom: 4px;
}
.ansTitle li span:hover {
    background-image: url(../images/iconAns.png);
    background-repeat: no-repeat;
    background-position: 0 0px;
}

.noglow {
    font-size: 14pt;
    /*text-shadow: 0 0 2px #E6DFD7, 0 0 1px #E9E4DF;
    filter: Shadow(Color=#E6DFD7, Direction=45, Strength=1);*/
    text-shadow: none;
}

.noglow li {
    position: relative;
    margin-bottom: 10px;
    text-transform: none;
    text-indent: -20px;
    padding-left: 20px;
}
.noglow li span {
    cursor: pointer;
    background-image: url(../images/icon.png);
    background-repeat: no-repeat;
    background-position: 0 5px; 
    padding-left: 21px;
}
.noglow li span:hover {
    background-image: url(../images/iconAns.png);
    background-repeat: no-repeat;
    background-position: 0 5px;
    padding-left: 21px;
}

/*need to add below appropriate class on click of the answer*/
.rightAnswer {
    color: #3f8e3d;
    /*text-shadow: 0 0 2px #85BE84, 0 0 1px #85BE84;
    filter: Shadow(Color=#85BE84, Direction=45, Strength=1);*/
}

.wrongAnswer {
    color: #ff0000;
    /*text-shadow: 0 0 2px #F86436, 0 0 1px #F86436;
    filter: Shadow(Color=#F86436, Direction=45, Strength=1);*/
}
/**/

#que {
    line-height: 26px;
}

#phoneMap40 {
    background-image: url(../images/timestorm_G02_VG01_phonemap_04.png);
    display: none;
}

/*----------------Background-03 css  :: End----------------*/


/*----------------Background-04 css :: Start----------------*/

#objectHighlight73-1 {
    background-image: url(../images/timestorm_G02_VG01_Objecthighlight_05.png);
    width: 4.7%;
    height: 10.3%;
    left: 35.6%;
    margin: 0 auto;
    position: absolute;
    top: 46.5%;
    z-index: 19;
    display: none;
}

#objectHighlight73-2 {
    background-image: url(../images/timestorm_G02_VG01_Objecthighlight_06.png);
    width: 10%;
    height: 34%;
    left: 44.3%;
    margin: 0 auto;
    position: absolute;
    top: 37.7%;
    z-index: 20;
    display: none;
}

#objectHighlight73-3 {
    background-image: url(../images/timestorm_G02_VG01_Objecthighlight_07.png);
    width: 6.4%;
    height: 24%;
    left: 81.5%;
    margin: 0 auto;
    position: absolute;
    top: 29.7%;
    z-index: 21;
    display: none;
}

#propOverlayQuestion75 {
    background-image: url(../images/timestorm_G02_VG01_miniquestion_01.png);
    display: none;
}

#propOverlayQuestion79 {
    background-image: url(../images/timestorm_G02_VG01_miniquestion_01.png);
    display: none;
}

.miniQuestion {
    font-size: 14pt;
   /* text-shadow: 0 0 2px #E6DFD7, 0 0 1px #E9E4DF;
    filter: Shadow(Color=#E6DFD7, Direction=45, Strength=1);*/
    margin-top: 1%;
    top: 32%;
    position: absolute;
    left: 34%;
    width: 38%;
    line-height: 23px;
    font-weight: bold;
    color: #f7dac2;
}

    .miniQuestion > a {
        font-weight: bold;
        font-size: 15pt;
        text-decoration: underline;
        color: #f7dac2;
    }

.propOverlayMiniQuestion {
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 3%;
    z-index: 504;
}

#propOverlayImage81 {
    background-image: url(../images/timestorm_G02_VG01_propoverlay_07.png);
    display: none;
}

#phoneMap70 {
    background-image: url(../images/timestorm_G02_VG01_phonemap_05.png);
    display: none;
}

/*----------------Background-04 css  :: End----------------*/

/*----------------Background-05 css  :: Start----------------*/
#propOverlayQuestion90 {
    background-image: url(../images/timestorm_G02_VG01_question_02.png);
    display: none;
}

#propOverlayQuestion93 {
    background-image: url(../images/timestorm_G02_VG01_question_02.png);
    display: none;
}

#propOverlayQuestion96 {
    background-image: url(../images/timestorm_G02_VG01_question_02.png);
    display: none;
}

#propOverlayQuestion99 {
    background-image: url(../images/timestorm_G02_VG01_question_02.png);
    display: none;
}

#phoneMap70 {
    background-image: url(../images/timestorm_G02_VG01_phonemap_05.png);
    display: none;
}
/*----------------Background-05 css  :: End----------------*/

/*----------------Background-06 css  :: Start----------------*/
#phoneMap110 {
    background-image: url(../images/timestorm_G02_VG01_phonemap_07.png);
    display: none;
}

#phoneMap119 {
    background-image: url(../images/timestorm_G02_VG01_phonemap_08.png);
    display: none;
}

.phoneMap119blueDot {
    width: 8px;
    height: 8px;
    display: inline-block;
    left: 28%;
    position: absolute;
    top: 14%;
    border-radius: 3px;
    background-color: #007eff;
}
/*----------------Background-06 css  :: End----------------*/

/*----------------Background-07 css  :: Start----------------*/
#phoneMap124 {
    background-image: url(../images/timestorm_G02_VG01_phonemap_09.png);
    display: none;
}

#phoneMap132 {
    background-image: url(../images/timestorm_G02_VG01_phonemap_10.png);
    display: none;
}
/*----------------Background-07 css  :: End----------------*/

/*----------------Background-08 css  :: Start----------------*/
#propOverlayQuestion140 {
    background-image: url(../images/timestorm_G02_VG01_question_03.png);
    display: none;
}

#propOverlayQuestion143 {
    background-image: url(../images/timestorm_G02_VG01_question_03.png);
    display: none;
}

#propOverlayQuestion146 {
    background-image: url(../images/timestorm_G02_VG01_question_03.png);
    display: none;
}

#phoneMap155 {
    background-image: url(../images/timestorm_G02_VG01_phonemap_13.png);
    display: none;
}

.phoneMap155blueDot {
    width: 8px;
    height: 8px;
    display: inline-block;
    left: 72%;
    position: absolute;
    top: 75%;
    border-radius: 3px;
    background-color: #007eff;
}

#phoneMap157 {
    background-image: url(../images/timestorm_G02_VG01_phonemap_14.png);
    display: none;
}

.phoneMap157blueDot {
    width: 8px;
    height: 8px;
    display: inline-block;
    left: 24%;
    position: absolute;
    top: 75%;
    border-radius: 3px;
    background-color: #007eff;
}

#propOverlayQuestion158 {
    background-image: url(../images/timestorm_G02_VG01_miniquestion_01.png);
    display: none;
}

/*----------------Background-08 css  :: Start----------------*/

/*----------------Background-09 css  :: Start----------------*/
#phoneMap163 {
    background-image: url(../images/timestorm_G02_VG01_phonemap_12.png);
    display: none;
}

#phoneMap167 {
    background-image: url(../images/timestorm_G02_VG01_phonemap_13.png);
    display: none;
}
/*----------------Background-09 css  :: Start----------------*/


/*800*600 screen size stylesheet Start*/
@media screen and (orientation: landscape) {
    .queTitle {
        background-position: -17px -15px;
    }
    #QueAns {
        top:128px;
    }
    .ansTitle {
        /*margin-top: 5%;*/
    }
}

@media screen and (orientation: portrait) {
    #QueAns {
        top:32%;
    }
    .queTitle {
        background-position: -17px -15px;
    }
    .queTitle {
        /*margin-top: 8%;*/
        /*margin-left: 50px;*/
    }
    .ansTitle {
        /*margin-top: 5%;*/
    }
}

/*800*600 screen size End*/

/*iPad stylesheet Start*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
        #QueAnsDiv1 {
             margin-top: 43px;
            float: left;;
        }

        #QueAnsDiv2 {
            margin-top: 43px;
            float: left;
        }

        #QueAnsDiv3 {
           margin-top: 43px;
           float: left;
        }

        #QueAnsDiv4 {
            margin-top: 43px;
            float: left;
        }
        #QueAnsDiv5,#QueAnsDiv6,#QueAnsDiv7,#QueAnsDiv8,#QueAnsDiv9  {
             margin-top: 43px;
            float: left;
        }
    
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    #TStimer {
        font-size: 12px;
        background-size: 33px 25px;
    }
    .queTitle {
         /*padding-top: 6%;*/
        /*margin-top: 21%;*/
       
    }
    .ansTitle {
        /*margin-top: 12%;*/
        
    }
    .notepadQue {
        margin-top: 50px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    /*Question answer font adjustment*/
    #leftCol {
        font-size: 9pt;
    }
    #rightCol {
        font-size: 9pt;
    }
    .noglow {
        font-size: 12pt;
    }
    .QueAnsTitle {
        font-size: 9pt;
    }
    .notepadQue {
        top: 11% !important;
    }
    /*Phone text font count adjustment*/
    #phoneText_contentwrapper {
        width: 100% !important;
    }
    .queTitle {
        font-size: 10pt;
        /*margin-top: 54px;*/
    }
    .ansTitle {
        /*margin-top: 18px;*/
    }
    
    .ansTitle li span {
        background-position: 0 0;
    }
    .ansTitle li span:hover {
        background-position: 0 0;
    }
    #TStimer {
        font-size: 15px;
        background-size: 33px 20px;
        background-position: -7px 0;
    }
    .queTitle {
       /*padding-top: 7%;*/
    }
    .notepadQue {
        margin-top: -35px;
    }
    .font-14 {
        font-size: 14px;
    }
    .queTitle.font-14 {
     font-size: 12px !important;
    }
    #pangoText-actual {
        line-height: 10px;
    }
    .notepadAns li span {
        font-size: 16px;
        background-position: 0 0 !important;
    }
    #phoneText li {
        font-size: 8pt;
    }
}
/*iPad stylesheet End*/




/************* Vignette 2 *************/


#TSframe2 {
    background-image: url(../images/timestorm_G02_VG02_headsupdisplay_01.png);
    color: black;
    height: 100%;
    left: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}

/*----------------Scene-01 css :: Start----------------*/
#phoneMap02_015 {
    background-image: url(../images/timestorm_G02_VG02_phonemap_01.png);
    display: none;
}

#objectHighlight02_016_1 {
    background-image: url(../images/timestorm_G02_VG02_Objecthighlight_01.png);
    width: 14.4%;
    height: 62%;
    left: 37.5%;
    top: 13.3%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}
#objectHighlight02_016_2 {
    background-image: url(../images/timestorm_G02_VG02_Objecthighlight_02.png);
    width: 27.8%;
    height: 40.4%;
    left: 17.3%;
    top: 59.7%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}
/*----------------Scene-01 css :: End----------------*/

/*----------------Scene-02 css :: Start----------------*/
#phoneMap02_040 {
    background-image: url(../images/timestorm_G02_VG02_phonemap_02_.png);
    display: none;
}
.phoneMap02_040_dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    left: 58%;
    position: absolute;
    top: 59%;
    border-radius: 3px;
    background-color: #14d900;
}
#phoneMap02_045 {
    background-image: url(../images/timestorm_G02_VG02_phonemap_04_.png);
    display: none;
}
.phoneMap02_045_dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    left: 46%;
    position: absolute;
    top: 71%;
    border-radius: 3px;
    background-color: #14d900;
}
#objectHighlight02_049 {
    background-image: url(../images/timestorm_G02_VG02_Objecthighlight_03.png);
    width: 8%;
    height: 22.4%;
    left: 50.8%;
    top: 80.7%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}
/*----------------Scene-02 css :: End----------------*/

/*----------------Scene-03 css :: Start----------------*/
#phoneMap02_095 {
    background-image: url(../images/timestorm_G02_VG02_phonemap_03_.png);
    display: none;
}
.phoneMap02_095_dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    left: 58%;
    position: absolute;
    top: 56%;
    border-radius: 3px;
    background-color: #14d900;
}
#objectHighlight02_062_01 {
    background-image: url(../images/timestorm_G02_VG02_Objecthighlight_04.png);
    width: 17%;
    height: 41.2%;
    left: 77.4%;
    top: 39.5%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}
#objectHighlight02_062_02 {
    background-image: url(../images/timestorm_G02_VG02_Objecthighlight_07.png);
    width: 13.8%;
    height: 34%;
    left: 29%;
    top: 34.7%;
    margin: 0 auto;
    position: absolute;
    z-index: 22;
    display: none;
}
#objectHighlight02_062_03 {
    background-image: url(../images/timestorm_G02_VG02_Objecthighlight_05.png);
    width: 5.6%;
    height: 14.3%;
    left: 39.5%;
    top: 31.1%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}
#objectHighlight02_062_04 {
    background-image: url(../images/timestorm_G02_VG02_Objecthighlight_06.png);
    width: 12%;
    height: 34%;
    left: 59.4%;
    top: 34.3%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}

#propOverlayImage02_059 {
    background-image: url(../images/timestorm_G02_VG02_propoverlay_01.png);
    display: none;
}
#propOverlayImage02_064 {
    background-image: url(../images/timestorm_G02_VG02_propoverlay_02.png);
    display: none;
}
#propOverlayImage02_068 {
    background-image: url(../images/timestorm_G02_VG02_blanknotepad_01.png);
    display: none;
}
#propOverlayImage02_071 {
    background-image: url(../images/timestorm_G02_VG02_propoverlay_04.png);
    display: none;
}
#propOverlayImage02_075 {
    background-image: url(../images/timestorm_G02_VG02_blanknotepad_01.png);
    display: none;
}
#propOverlayImage02_078 {
    background-image: url(../images/timestorm_G02_VG02_propoverlay_06.png);
    display: none;
}
#propOverlayImage02_082 {
    background-image: url(../images/timestorm_G02_VG02_blanknotepad_01.png);
    display: none;
}
#propOverlayImage02_085 {
    background-image: url(../images/timestorm_G02_VG02_propoverlay_08.png);
    display: none;
}
#propOverlayImage02_090 {
    background-image: url(../images/timestorm_G02_VG02_blanknotepad_01.png);
    display: none;
}

.notepadQue {
    position: absolute;
    top: 109px;
    left: 7%;
    width: 88%;
    color: #504E4B;
}

.notepadQueAnsTitle {
    margin-top: 60px;
}

.notepadQueAnsTitle ul {
    list-style-type: none;
    line-height: 9px;
    margin-top: 1%;
}

.notepadAns {
    font-size: 13pt;
    margin-top: 2%;
}

.notepadAns li {
    position: relative;
    margin-top: 8px;
    text-transform: none;
    text-indent: -20px;
    padding-left: 20px;
}
.notepadAns li span {
    cursor: pointer;   
    background-image: url(../images/timestorm_G02_VG01_bulletpoint_01.png);
    background-repeat: no-repeat;
    background-position: 0 5px; 
    padding-left: 21px;
    font-size: 15px;
    line-height: 16px;
}

.quotelist li {
    position: relative;
    margin-top: 10px;
    text-transform: none;
    cursor: pointer;
    font-size: 14px;
}

.quotelist li:first-child {
    margin-top: 17px;
}

.quotelist span {
    font-size: 12pt;
    color: #504E4B;
    float: right;
    padding-right: 20px;
}
.toDennis {
    bottom: 10%;
    position: absolute;
    right: 42px;
    color: #504E4B;
    text-decoration: underline;
    display: none;
    cursor: pointer;

}
/*----------------Scene-03 css :: End----------------*/

/*----------------Scene-04 css :: Start----------------*/
#objectHighlight02_100 {
    background-image: url(../images/timestorm_G02_VG02_Objecthighlight_08.png);
    width: 11%;
    height: 20.5%;
    left: 69.2%;
    top: 26.5%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}

#phoneMap02_105 {
    background-image: url(../images/timestorm_G02_VG02_phonemap_04_.png);
    display: none;
}
.phoneMap02_105_dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    left: 46%;
    position: absolute;
    top: 71%;
    border-radius: 3px;
    background-color: #14d900;
}

/*----------------Scene-04 css :: End----------------*/

/*----------------Scene-05 css :: Start----------------*/

#objectHighlight02_137 {
    background-image: url(../images/timestorm_G02_VG02_Objecthighlight_09.png);
    width: 1.5%;
    height: 2.3%;
    left: 84.2%;
    top: 74.3%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}

#phoneMap02_143 {
    background-image: url(../images/timestorm_G02_VG02_phonemap_03_.png);
    display: none;
}
.phoneMap02_143_dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    left: 58%;
    position: absolute;
    top: 56%;
    border-radius: 3px;
    background-color: #14d900;
}
#propOverlayQuestion02_109 {
    background-image: url(../images/timestorm_G02_VG02_question_01.png);
    display: none;
}
#propOverlayQuestion02_112 {
    background-image: url(../images/timestorm_G02_VG02_question_01.png);
    display: none;
}
#propOverlayQuestion02_115 {
    background-image: url(../images/timestorm_G02_VG02_question_01.png);
    display: none;
}
#propOverlayQuestion02_118 {
    background-image: url(../images/timestorm_G02_VG02_question_01.png);
    display: none;
}
#propOverlayQuestion02_121 {
    background-image: url(../images/timestorm_G02_VG02_question_01.png);
    display: none;
}
#propOverlayQuestion02_124 {
    background-image: url(../images/timestorm_G02_VG02_question_01.png);
    display: none;
}
#propOverlayQuestion02_127 {
    background-image: url(../images/timestorm_G02_VG02_question_01.png);
    display: none;
}
#propOverlayQuestion02_130 {
    background-image: url(../images/timestorm_G02_VG02_question_01.png);
    display: none;
}
#propOverlayQuestion02_133 {
    background-image: url(../images/timestorm_G02_VG02_question_01.png);
    display: none;
}
.ansBlock {
    margin-top: 8%;
}

/*----------------Scene-05 css :: End----------------*/

/*----------------Scene-06 css :: Start----------------*/
#objectHighlight02_146 {
    background-image: url(../images/timestorm_G02_VG02_Objecthighlight_08.png);
    width: 8%;
    height: 16%;
    left: 70.6%;
    top: 28.5%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}
#objectHighlight02_148 {
    background-image: url(../images/timestorm_G02_VG02_Objecthighlight_10.png);
    width: 5.7%;
    height: 10.5%;
    left: 60.3%;
    top: 32%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}
/*----------------Scene-06 css :: End----------------*/

/************* Vignette 3 *************/


#TSframe3 {
    background-image: url(../images/timestorm_G02_VG03_headsupdisplay_01.png);
    color: black;
    height: 100%;
    left: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}

/*----------------Scene-01 css :: Start----------------*/
#phoneMap03_005 {
    background-image: url(../images/timestorm_G02_VG03_phonemap_01.png);
    display: none;
}
/*----------------Scene-01 css :: End----------------*/

/*----------------Scene-02 css :: Start----------------*/
#objectHighlight03_019_01 {
    background-image: url(../images/timestorm_G02_VG03_Objecthighlight_01.png);
    width: 14.8%;
    height: 8%;
    left: 77.3%;
    top: 75.2%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}
#objectHighlight03_019_02 {
    background-image: url(../images/timestorm_G02_VG03_Objecthighlight_02.png);
    width: 15%;
    height: 8.2%;
    left: 19.2%;
    top: 72.6%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}
#objectHighlight03_019_03 {
    background-image: url(../images/timestorm_G02_VG03_Objecthighlight_03.png);
    width: 18.4%;
    height: 8.2%;
    left: 49.3%;
    top: 74.4%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}

#propOverlayImage03_021 {
    background-image: url(../images/timestorm_G02_VG03_propoverlay_01.png);
    display: none;
}

#phoneMap03_024 {
    background-image: url(../images/timestorm_G02_VG03_phonemap_02_.png);
    display: none;
}
.phoneMap03_024_dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    left: 31%;
    position: absolute;
    top: 47%;
    border-radius: 3px;
    background-color: #14d900;
}
/*----------------Scene-02 css :: End----------------*/

/*----------------Scene-03 css :: Start----------------*/
#objectHighlight03_034_01 {
    background-image: url(../images/timestorm_G02_VG03_Objecthighlight_04.png);
    width: 8.5%;
    height: 9%;
    left: 29.8%;
    top: 58.2%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}
#objectHighlight03_034_02 {
    background-image: url(../images/timestorm_G02_VG03_Objecthighlight_05.png);
    width: 17.2%;
    height: 24%;
    left: 77.4%;
    top: 67%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}
#objectHighlight03_034_03 {
    background-image: url(../images/timestorm_G02_VG03_Objecthighlight_06.png);
    width: 4%;
    height: 5%;
    left: 90.4%;
    top: 79.6%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}

#propOverlayImage03_035 {
    background-image: url(../images/timestorm_G02_VG03_propoverlay_02.png);
    display: none;
}
#propOverlayImage03_037 {
    background-image: url(../images/timestorm_G02_VG03_propoverlay_03.png);
    display: none;
}

#phoneMap03_039 {
    background-image: url(../images/timestorm_G02_VG03_phonemap_03_.png);
    display: none;
}
.phoneMap03_039_dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    left: 53%;
    position: absolute;
    top: 28%;
    border-radius: 3px;
    background-color: #14d900;
}
/*----------------Scene-03 css :: End----------------*/

/*----------------Scene-04 css :: Start----------------*/
#objectHighlight03_043 {
    background-image: url(../images/timestorm_G02_VG03_Objecthighlight_07.png);
    width: 6%;
    height: 13%;
    left: 26.8%;
    top: 48%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}
#objectHighlight03_047_01 {
    background-image: url(../images/timestorm_G02_VG03_Objecthighlight_08.png);
    width: 5.4%;
    height: 3.4%;
    left: 54.2%;
    top: 68.7%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}
#objectHighlight03_047_02 {
    background-image: url(../images/timestorm_G02_VG03_Objecthighlight_09.png);
    width: 4.5%;
    height: 3.8%;
    left: 51.4%;
    top: 69.2%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}
#objectHighlight03_047_03 {
    background-image: url(../images/timestorm_G02_VG03_Objecthighlight_10.png);
    width: 7.2%;
    height: 4.6%;
    left: 41.9%;
    top: 68.1%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}

#propOverlayImage03_048 {
    background-image: url(../images/timestorm_G02_VG03_propoverlay_10.png);
    display: none;
}
#propOverlayImage03_049 {
    background-image: url(../images/timestorm_G02_VG03_propoverlay_09.png);
    display: none;
}
#propOverlayImage03_050 {
    background-image: url(../images/timestorm_G02_VG03_propoverlay_06.png);
    display: none;
}

#phoneMap03_053 {
    background-image: url(../images/timestorm_G02_VG03_phonemap_04_.png);
    display: none;
}
.phoneMap03_053_dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    left: 65%;
    position: absolute;
    top: 47%;
    border-radius: 3px;
    background-color: #14d900;
}
/*----------------Scene-04 css :: End----------------*/

/*----------------Scene-05 css :: Start----------------*/
#objectHighlight03_063_01 {
    background-image: url(../images/timestorm_G02_VG03_Objecthighlight_11.png);
    width: 11.2%;
    height: 7.3%;
    left: 84.3%;
    top: 53.9%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}
#objectHighlight03_063_02 {
    background-image: url(../images/timestorm_G02_VG03_Objecthighlight_12.png);
    width: 12.5%;
    height: 15.3%;
    left: 74.2%;
    top: 40%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}
#propOverlayImage03_064 {
    background-image: url(../images/timestorm_G02_VG03_propoverlay_07.png);
    display: none;
}
#propOverlayImage03_065 {
    background-image: url(../images/timestorm_G02_VG03_propoverlay_08.png);
    display: none;
}
#phoneMap03_071 {
    background-image: url(../images/timestorm_G02_VG03_phonemap_05_.png);
    display: none;
}
.phoneMap03_071_dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    left: 58%;
    position: absolute;
    top: 47%;
    border-radius: 3px;
    background-color: #14d900;
}
/*----------------Scene-05 css :: End----------------*/

/*----------------Scene-06 css :: Start----------------*/
#objectHighlight03_081 {
    background-image: url(../images/timestorm_G02_VG03_Objecthighlight_13.png);
    width: 14%;
    height: 10.5%;
    left: 43.8%;
    top: 77.9%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}
#propOverlayImage03_082 {
    background-image: url(../images/timestorm_G02_VG03_propoverlay_04.png);
    display: none;
}
#phoneMap03_085 {
    background-image: url(../images/timestorm_G02_VG03_phonemap_06.png);
    display: none;
}
/*----------------Scene-06 css :: End----------------*/

/*----------------Scene-07 css :: Start----------------*/
#objectHighlight03_094 {
    background-image: url(../images/timestorm_G02_VG03_Objecthighlight_14.png);
    width: 8.2%;
    height: 15.8%;
    left: 33.6%;
    top: 63%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}
#propOverlayImage03_095 {
    background-image: url(../images/timestorm_G02_VG03_propoverlay_05.png);
    display: none;
}
#phoneMap03_099 {
    background-image: url(../images/timestorm_G02_VG03_phonemap_07_.png);
    display: none;
}
.phoneMap03_099_dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    left: 31%;
    position: absolute;
    top: 47%;;
    border-radius: 3px;
    background-color: #14d900;
}
/*----------------Scene-07 css :: End----------------*/

/*----------------Scene-08 css :: Start----------------*/
#propOverlayQuestion03_108 {
    background-image: url(../images/timestorm_G02_VG03_question_01.png);
    display: none;
}
#propOverlayQuestion03_109 {
    background-image: url(../images/timestorm_G02_VG03_question_01.png);
    display: none;
}
#propOverlayQuestion03_110 {
    background-image: url(../images/timestorm_G02_VG03_question_01.png);
    display: none;
}
#propOverlayQuestion03_111 {
    background-image: url(../images/timestorm_G02_VG03_question_01.png);
    display: none;
}
#phoneMap03_101-5 {
    background-image: url(../images/timestorm_G02_VG03_phonemap_08.png);
    display: none;
}
/*----------------Scene-08 css :: End----------------*/






/************* Vignette 4 *************/


#TSframe3 {
    background-image: url(../images/timestorm_G02_VG04_headsupdisplay_01.png);
    color: black;
    height: 100%;
    left: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}

/*----------------Scene-01 css :: Start----------------*/
#phoneMap04_006 {
    background-image: url(../images/timestorm_G02_VG04_phonemap_01.png);
    display: none;
}
#phoneMap04_012 {
    background-image: url(../images/timestorm_G02_VG04_phonemap_02_.png);
    display: none;
}
.phoneMap04_012_dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    left: 24%;
    position: absolute;
    top: 23%;
    border-radius: 3px;
    background-color: #14d900;
}

/*----------------Scene-01 css :: End----------------*/

/*----------------Scene-02 css :: Start----------------*/
#objectHighlight04_022_01 {
    background-image: url(../images/timestorm_G02_VG04_objecthighlight_01.png);
    width: 12.6%;
    height: 58.8%;
    left: 21.7%;
    top: 22.2%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}

#propOverlayImage04_024 {
    background-image: url(../images/timestorm_G02_VG04_propoverlay_01.png);
    display: none;
}

#phoneMap04_018 {
    background-image: url(../images/timestorm_G02_VG04_phonemap_03_.png);
    display: none;
}
.phoneMap04_018_dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    left: 23.5%;
    position: absolute;
    top: 22.5%;
    border-radius: 3px;
    background-color: #14d900;
}

/*----------------Scene-02 css :: End----------------*/

/*----------------Scene-03 css :: Start----------------*/
#objectHighlight04_037_01 {
    background-image: url(../images/timestorm_G02_VG04_objecthighlight_02.png);
    width: 28.7%;
    height: 33.1%;
    left: 24.6%;
    top: 67.6%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}

#propOverlayImage04_040 {
    background-image: url(../images/timestorm_G02_VG04_propoverlay_02.png);
    display: none;
}

#phoneMap04_044 {
    background-image: url(../images/timestorm_G02_VG04_phonemap_04_.png);
    display: none;
}
.phoneMap04_044_dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    left: 83.6%;
    position: absolute;
    top: 39.4%;
    border-radius: 3px;
    background-color: #14d900;
}
/*----------------Scene-03 css :: End----------------*/

/*----------------Scene-04 css :: Start----------------*/
#objectHighlight04_053_01 {
    background-image: url(../images/timestorm_G02_VG04_objecthighlight_03.png);
    width: 8%;
    height: 11.3%;
    left: 26.2%;
    top: 52.4%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}
#objectHighlight04_053_02 {
    background-image: url(../images/timestorm_G02_VG04_objecthighlight_04.png);
    width: 7.8%;
    height: 10.5%;
    left: 21%;
    top: 62.1%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}


#propOverlayImage04_054 {
    background-image: url(../images/timestorm_G02_VG04_propoverlay_03.png);
    display: none;
}
#propOverlayImage04_055 {
    background-image: url(../images/timestorm_G02_VG04_propoverlay_04.png);
    display: none;
}
#propOverlayImage04_057 {
    background-image: url(../images/timestorm_G02_VG04_propoverlay_02.png);
    display: none;
}

#propOverlayQuestion04_059 {
    background-image: url(../images/timestorm_G02_VG04_question_01.png);
    display: none;
}
#propOverlayQuestion04_062 {
    background-image: url(../images/timestorm_G02_VG04_question_01.png);
    display: none;
}
#propOverlayQuestion04_065 {
    background-image: url(../images/timestorm_G02_VG04_question_01.png);
    display: none;
}
#phoneMap04_070 {
    background-image: url(../images/timestorm_G02_VG04_phonemap_05_.png);
    display: none;
}
.phoneMap04_070_dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    left: 28.4%;
    position: absolute;
    top: 20.9%;
    border-radius: 3px;
    background-color: #14d900;
}
/*----------------Scene-04 css :: End----------------*/

/*----------------Scene-05 css :: Start----------------*/
#objectHighlight04_078_01{
    background-image: url(../images/timestorm_G02_VG04_objecthighlight_06.png);
    width: 9%;
    height: 8.4%;
    left: 16.4%;
    top: 82%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}
#objectHighlight04_078_02 {
    background-image: url(../images/timestorm_G02_VG04_objecthighlight_05.png);
    width: 5%;
    height: 7.3%;
    left: 57.3%;
    top: 73.5%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}
#objectHighlight04_078_03 {
    background-image: url(../images/timestorm_G02_VG04_objecthighlight_07.png);
    width: 10%;
    height: 9.8%;
    left: 67%;
    top: 85.3%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}
#propOverlayImage04_079 {
    background-image: url(../images/timestorm_G02_VG04_propoverlay_05.png);
    display: none;
}
#propOverlayImage04_080 {
    background-image: url(../images/timestorm_G02_VG04_propoverlay_06.png);
    display: none;
}
#propOverlayImage04_081 {
    background-image: url(../images/timestorm_G02_VG04_propoverlay_07.png);
    display: none;
}
#propOverlayQuestion04_088 {
    background-image: url(../images/timestorm_G02_VG04_question_02.png);
    display: none;
}
#propOverlayQuestion04_091 {
    background-image: url(../images/timestorm_G02_VG04_question_02.png);
    display: none;
}
#propOverlayQuestion04_094 {
    background-image: url(../images/timestorm_G02_VG04_question_02.png);
    display: none;
}
#phoneMap04_099 {
    background-image: url(../images/timestorm_G02_VG04_phonemap_06_.png);
    display: none;
}
.phoneMap04_099_dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    left: 31.9%;
    position: absolute;
    top: 25.9%;
    border-radius: 3px;
    background-color: #14d900;
}
/*----------------Scene-05 css :: End----------------*/

/*----------------Scene-06 css :: Start----------------*/
#objectHighlight04_106_01 {
    background-image: url(../images/timestorm_G02_VG04_objecthighlight_08.png);
    width: 9.3%;
    height: 62.3%;
    left: 29%;
    top: 28%;
    margin: 0 auto;
    position: absolute;
    z-index: 22;
    display: none;
}
#objectHighlight04_106_02 {
   background-image: url(../images/timestorm_G02_VG04_objecthighlight_09.png);
    width: 12.2%;
    height: 62.5%;
    left: 32.6%;
    top: 25.3%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}
#propOverlayImage04_107 {
    background-image: url(../images/timestorm_G02_VG04_propoverlay_08.png);
    display: none;
}
#propOverlayImage04_109 {
    background-image: url(../images/timestorm_G02_VG04_propoverlay_09.png);
    display: none;
}
#phoneMap04_114 {
    background-image: url(../images/timestorm_G02_VG04_phonemap_07_.png);
    display: none;
}
.phoneMap04_114_dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    left: 29.2%;
    position: absolute;
    top: 60%;
    border-radius: 3px;
    background-color: #14d900;
}
/*----------------Scene-06 css :: End----------------*/

/*----------------Scene-07 css :: Start----------------*/
#objectHighlight04_121 {
    background-image: url(../images/timestorm_G02_VG04_objecthighlight_10.png) ;
    width: 6.1%;
    height: 8%;
    left: 20%;
    top: 33%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}
#objectHighlight04_124 {
    background-image: url(../images/timestorm_G02_VG04_objecthighlight_11.png);
    width: 14%;
   
    /*width: 14.7%;*/
    height: 16.6%;
    left: 65.7%;
    top: 38px;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
     display: none; 
}
#objectHighlight04_130 {
    background-image: url(../images/timestorm_G02_VG04_objecthighlight_12.png) ;
    width: 14.4%;
    height: 32.8%;
    left: 43%;
    top: 58%;
    margin: 0 auto;
    position: absolute;
    z-index: 21;
    display: none;
}
#propOverlayImage04_122 {
    background-image: url(../images/timestorm_G02_VG04_propoverlay_10.png);
    display: none;
}
#propOverlayImage04_127 {
    background-image: url(../images/timestorm_G02_VG04_propoverlay_11.png);
    display: none;
}
#propOverlayImage04_131 {
    background-image: url(../images/timestorm_G02_VG04_propoverlay_12.png);
    display: none;
}
#phoneMap04_136 {
    background-image: url(../images/timestorm_G02_VG04_phonemap_08.png);
    display: none;
}
.phoneMap04_136_dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    left: 31%;
    position: absolute;
    top: 47%;;
    border-radius: 3px;
    background-color: #14d900;
}
/*----------------Scene-07 css :: End----------------*/

/*----------------Scene-08 css :: Start----------------*/
#propOverlayImage04_143 {
    background-image: url(../images/timestorm_G02_VG04_propoverlay_02.png);
    display: none;
}
#propOverlayQuestion04_144 {
    background-image: url(../images/timestorm_G02_VG04_question_03.png);
    display: none;
}
#propOverlayQuestion04_147 {
    background-image: url(../images/timestorm_G02_VG04_question_03.png);
    display: none;
}
#propOverlayQuestion04_150 {
    background-image: url(../images/timestorm_G02_VG04_question_03.png);
    display: none;
}
#propOverlayQuestion04_153 {
    background-image: url(../images/timestorm_G02_VG04_question_03.png);
    display: none;
}

/*----------------Scene-08 css :: End----------------*/
.mac .ansTitle li span {
    padding-bottom:0px;
    padding-top:2px;
}

/**Scrllbar Css*/
.scroll-pane
{
	overflow: auto;
}
.jspDrag {
   background-color: transparent;
    background-image: url(../images/scroll.png) !important;
    background-repeat: no-repeat;
    width: 5px;
    border-radius: 3px;
    background-position: 0px 0;
    left: 3px;
}
.jspTrack {
    background: transparent;
    position: relative;
    background-image: url(../images/scroll1.png) !important;
    background-repeat: repeat;
}
.jspVerticalBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: transparent;
}



