﻿<script type='text/javascript' src="js/variableScene4config.js"></script>
<script type='text/javascript' src="js/scene4.js"></script>

<div id="scene4">

    <div id="sceneOver" class="stretchBG"></div>
    <div id="subTitle04_051_1" class="orangeText">
        Austense: Hmmm. These boxes look interesting. I'll leave you here to<br />
        check them out, please fill in the questionnaire on what you find. 
    </div>
    <div id="subTitle04_051_2" class="orangeText">   
        And don't keep anything you find unless you absolutely have to, please.<br />
        We are here simply to observe.
    </div>
    <div id="subTitle04_069" class="orangeText">
        Austense: Good work, now follow me. There's someone I'd like you to talk to.
    </div>
    <div id="cover1"><div id="objectHighlight04_053_01" class="stretchBG"></div></div>
    <div id="cover2"><div id="objectHighlight04_053_02" class="stretchBG"></div></div>



    <div id="propOverlayQuestion04_059" class="propOverlayQuestion stretchBG">
        <div class="wrap-q" style="margin-left: 3.2%;width: 92.9%;">
            <div class="queTitle">
                In what year was the National Wilderness Society formed?
            </div>
        </div>
        <div class="ansTitle">
            <ul>
                <li id="q1radio1"><span>1967.</span></li>
                <li id="q1radio2"><span>1766.</span></li>
                <li id="q1radio3"><span>1976.</span></li>
                <li id="q1radio4"><span>1977.</span></li>
            </ul>
        </div>
    </div>

    <div id="propOverlayQuestion04_062" class="propOverlayQuestion stretchBG">
        <div class="wrap-q" style="margin-left: 3.2%;width: 92.9%;">
            <div class="queTitle">
                Approximately how many people marched in Hobart protest of the damming of the Franklin River?
            </div>
        </div>
        <div class="ansTitle">
            <ul>
                <li id="q2radio1"><span>10,000.</span></li>
                <li id="q2radio2"><span>11,000.</span></li>
                <li id="q2radio3"><span>9,000.</span></li>
                <li id="q2radio4"><span>100,000.</span></li>
            </ul>
        </div>
    </div>

    <div id="propOverlayQuestion04_065" class="propOverlayQuestion stretchBG">
          <div class="wrap-q" style="margin-left: 3.2%;width: 92.9%;">   
            <div class="queTitle">
                What was found in 1981 that further supported the Franklin River campaign?
            </div>
            </div>
        <div class="ansTitle">
            <ul>
                <li id="q3radio1"><span>Convict settlement ruins were discovered.</span></li>
                <li id="q3radio2"><span>Tasmanian tigers were discovered in the area.</span></li>
                <li id="q3radio3"><span>Pre-historic fossils were discovered.</span></li>
                <li id="q3radio4"><span>Indigenous Australian cave sites were discovered.</span></li>
            </ul>
        </div>
    </div>


    <div id="propOverlayImage04_057" class="stretchBG propOverlay">
        
    </div>
    <div id="propOverlayImage04_054" class="stretchBG propOverlay">
        <div class="propClose"></div>
    </div>
    <div id="propOverlayImage04_055" class="stretchBG propOverlay">
        <div class="propClose"></div>
    </div>
    <div id="phoneMap04_070" class="phoneMap stretchBG"><span class="phoneMap04_070_dot"></span></div>

    <div id="TStimer">00:15:00</div>
</div>
