﻿<script type='text/javascript' src="js/variableScene5config.js"></script>
<script type='text/javascript' src="js/scene5.js"></script>

<div id="scene5">

    <div id="sceneOver" class="stretchBG"></div>

    <div id="subTitle04_077_1" class="orangeText">
        Captain Cowan: My job's purely to uphold the law. If the law changed, we'd respect that and enforce it.<br />
        But the law's the law, and the law says that these guys are protesting on Hydro land.
    </div>
    <div id="subTitle04_077_2" class="orangeText">
        You want me personal opinion? There has to be a balance, between industrial stuff and the environment.
        <br />
        Surely it can be done in a considerate way?
    </div>
    <div id="subTitle04_077_3" class="orangeText">
        I've been reading up on it lately, in fact. Helps kill time out here on the river.
        <br />
        Take a look and some of me things if you like, it'll be a while 'til we get to the protest site.
    </div>


    <div id="subTitle04_082" class="orangeText">
        Captain Cowan: Feel free to keep that copy, being as you're interested.<br />
        We've got nothing to hide.
    </div>
    <div id="subTitle04_083" class="orangeText">
        Confero: I'll need that document for the archive. I'll transfer it now.
    </div>
    <div id="subTitle04_086" class="orangeText">
        Captain Cowan: We'll be there in a moment, so if you need to take any notes,<br />
        now's the time.
    </div>

    <div id="propOverlayQuestion04_088" class="propOverlayQuestion stretchBG">
         <div class="wrap-q">
        <div class="queTitle">
            Which of the answers below best summarises the term 'sustainability'?
        </div>
             </div>
        <div class="ansTitle">
            <ul>
                <li id="q4radio1"><span>Sustainability means the ongoing capacity of Earth to maintain all life.</span></li>
                <li id="q4radio2"><span>Sustainability means the ability for human life to continue on Earth.</span></li>
                <li id="q4radio3"><span>Sustainability means the ability for humans and animals to remain dominant.</span></li>
                <li id="q4radio4"><span>Sustainability means the ability for all plant life to thrive on Earth.</span></li>
            </ul>
        </div>
    </div>
    <div id="propOverlayQuestion04_091" class="propOverlayQuestion stretchBG">
         <div class="wrap-q">
        <div class="queTitle">
            What role did The Wilderness Society take in the Franklin River Dam Campaign?
        </div>
             </div>
        <div class="ansTitle">
            <ul>
                <li id="q5radio1"><span>The Wilderness Society sought to protest because they did not like the Tasmanian government's policies on a range of economic, social and environmental issues.</span></li>
                <li id="q5radio2"><span>The Wilderness Society sought to protest for the sake of industry.</span></li>
                <li id="q5radio3"><span>The Wilderness Society sought to protect the environment so future generations could enjoy it.</span></li>
                <li id="q5radio4"><span>The Wilderness Society sough to protect state's rights in the Australian political arena.</span></li>
            </ul>
        </div>
    </div>
    <div id="propOverlayQuestion04_094" class="propOverlayQuestion stretchBG">
         <div class="wrap-q">
        <div class="queTitle">
            What was the primary argument made by the Tasmanian government for the Frankin River Dam?
        </div>
             </div>
        <div class="ansTitle">
            <ul>
                <li id="q6radio1"><span>That the Franklin River Dam project would provide a great tourist attraction for Tasmania.</span></li>
                <li id="q6radio2"><span>That the Franklin River Dam project would allow Tasmania to compete on the international energy market.</span></li>
                <li id="q6radio3"><span>That the Frankin River Dam project would provide new commercial opportunities for the forestry industry in Tasmania.</span></li>
                <li id="q6radio4"><span>That the Franklin River Dam project would provide great economic benefit for the state through the creation of jobs.</span></li>
            </ul>
        </div>
    </div>
    <div id="cover1"><div id="objectHighlight04_078_01" class="stretchBG"></div></div>
    <div id="cover2"><div id="objectHighlight04_078_02" class="stretchBG"></div></div>
    <div id="cover3"><div id="objectHighlight04_078_03" class="stretchBG"></div></div>
    <div id="propOverlayImage04_079" class="stretchBG propOverlay">
        <div class="propClose"></div>
    </div>
    <div id="propOverlayImage04_080" class="stretchBG propOverlay">
        <div class="propClose"></div>
    </div>
    <div id="propOverlayImage04_081" class="stretchBG propOverlay">
    </div>
    <div id="phoneMap04_099" class="phoneMap stretchBG"><span class="phoneMap04_099_dot"></span></div>

    <div id="TStimer">00:15:00</div>
</div>
<!--Scene 5 Ends-->
</div>