﻿<script type='text/javascript' src="js/variableScene3config.js"></script>
<script type='text/javascript' src="js/scene3.js"></script>

<div id="scene3">

    <div id="sceneOver" class="stretchBG"></div>
    <div id="subTitle04_030" class="orangeText">
        Confero: Use your UNESCO cover to look around. Send back a No Dams sticker,<br />
        and a copy of the Police Protest Guidelines.
    </div>
    <div id="subTitle04_033" class="orangeText">Austense: Ahh. Just what I was looking for, an assistant.</div>
    <div id="subTitle04_034" class="whiteText">Assistant, yep, sure, that's me.</div>
    <div id="subTitle04_035_1" class="orangeText">
        Austense: Hmmm. We'll be pulling in soon. So, let's do a quick recap<br />
        before I send you on your way.
    </div>
    <div id="subTitle04_035_2" class="orangeText">
        1. You are here to observe and take notes, keep your own feelings out<br />
        of it.
    </div>
    <div id="subTitle04_035_3" class="orangeText">
        2. There are two sides to every story, sometimes more! So, pay close<br />
        attention to everyone and everything you see.
    </div>
    <div id="subTitle04_035_4" class="orangeText">
        3. If UNESCO decides to make this place a World Heritage Site after our research,
        <br />
        then you have been involved in making a little bit of history.
    </div>
    <div id="subTitle04_035_5" class="orangeText">
        So make sure you fill out the questions on the clipboard carefully.<br />
        4. Hmmm. What was four again? Ah yes... Have fun!
    </div>

    <div id="subTitle04_038" class="orangeText">
        Autense: Here you go, take this clipboard to help compile the research.
    </div>
    <div id="subTitle04_041" class="orangeText">
        Autense: Hey, no getting off the boat without your research questions.<br /> We're not on holiday you know.
    </div>
    <div id="propOverlayImage04_040" class="stretchBG propOverlay">
       
    </div>

    <div id="cover">
        <div id="objectHighlight04_037_01" class="stretchBG"></div>
    </div>
    <div id="phoneMap04_044" class="phoneMap stretchBG"><span class="phoneMap04_044_dot"></span></div>


    <div id="TStimer">00:15:00</div>
</div>
