﻿<script type='text/javascript' src="js/variableScene6config.js"></script>
<script type='text/javascript' src="js/scene6.js"></script>
<script>
    function highlightObj() {
        $('#img_ID').show();
        var ImageMap = function (map, img) {

            //Initializing Variables
            var n,
                areas = map.getElementsByTagName('area'),
                len = areas.length,
                ActualCoords = [],
                coords = [],
                origWidth = img.naturalWidth || 0;	//Add actual width here
            origHeight = img.naturalHeight || 0; //Add actual height here

            //Caching actual co-ordinate values for future reference
            for (n = 0; n < len; n++) {
                ActualCoords[n] = areas[n].coords.split(',');
            }

            //Local resize function
            this.resize = function () {

                //Make a copy of every co-ordinates
                for (n = 0; n < ActualCoords.length; n++) {
                    coords[n] = ActualCoords[n].slice(0);
                }

                //Calculate new scale
                var n, m, clen,
                    x = img.offsetWidth / origWidth,
                    y = img.offsetHeight / origHeight;

                //Apply new scale on co-ordinates
                for (n = 0; n < len; n++) {
                    clen = coords[n].length;
                    for (m = 0; m < clen; m += 2) {
                        coords[n][m] = Math.round(parseInt(coords[n][m], 10) * x);
                        coords[n][m + 1] = Math.round(parseInt(coords[n][m + 1], 10) * y);
                    }
                    areas[n].coords = coords[n].join(',');
                }
                return true;
            };

            //Bind resize event with browser window
            window.onresize = this.resize;
        },

            //Bind Image map with image using ImageMap class.
            imageMap = new ImageMap(document.getElementById('map_ID'), document.getElementById('img_ID'));

        //Call resize function for initialization
        imageMap.resize();
        return;
    }
</script>
<div id="scene6">

    <div id="sceneOver" class="stretchBG"></div>
    <div id="subTitle04_105" class="orangeText">
        Journalist: Okay, gentlemen. We're on the record. Can you please give me<br />
        your different perspectives on The Franklin Dam?
    </div>
    <div id="subTitle04_108_1" class="orangeText">
        Bob Brown: The Franklin River is magnificent. It has deep gorges, platypuses swimming<br />
        next to people on rafts, sea eagles, water falls. The public have got to see it. 
    </div>
    <div id="subTitle04_108_2" class="orangeText">
        So, we're going back to make a film, to show people all over Australia, and for the <br />
        first time galvanise the nation about trying to protect Australia's national heritage.
    </div>

    <div id="subTitle04_110_1" class="orangeText">
        Bruce Goodluck: Well, I wonder how many people realise the poor state<br />
        of the economy in Tasmania?
    </div>
    <div id="subTitle04_110_2" class="orangeText">
        I wonder how many people realise that at the last election the people of Tasmania,<br />
        they, overwhelmingly supported the construction of the dam.
    </div>
    <div id="subTitle04_111" class="orangeText">
        Journalist: Great. Thanks, gentlemen. That covers it for me.
    </div>
    <div id="subTitle04_113" class="orangeText">
        Confero: Remember, you still need to find an original No Dam
        <br />
        sticker for The Archive. Maybe try the Old Boat?
    </div>

    <div id="cover1">
        <div id="objectHighlight04_106_01" class="stretchBG">
    </div>
        </div>
    <div id="cover2">
         <div id="objectHighlight04_106_02" class="stretchBG"></div>
    </div>

    <div id="propOverlayImage04_107" class="stretchBG propOverlay">
        
    </div>
    <div id="propOverlayImage04_109" class="stretchBG propOverlay">
        
    </div>
    <div id="phoneMap04_114" class="phoneMap stretchBG"><span class="phoneMap04_114_dot"></span></div>


    <div id="TStimer">00:15:00</div>
</div>
