﻿<script type='text/javascript' src="js/variableScene1config.js"></script>
<script type='text/javascript' src="js/scene1.js"></script>


<div id="scene1">

    <div id="sceneOver" class="stretchBG"></div>
    <div id="subTitle04_007" class="orangeText">
        Confero: Hello stranger. Great job so far, I must say.<br />
        You even managed to thwart Sam on the Freedom Ride, nice work!
    </div>
    <div id="subTitle04_008" class="whiteText">Thanks.</div>
    <div id="subTitle04_010_1" class="orangeText">
        Confero: There goes Dorian. He's off keeping watch...It's pretty tiring, but between us,<br />
        I think Dorian and I can keep Sam at bay while you fill The Gaps made in The Archive...
    </div>
    <div id="subTitle04_010_2" class="orangeText">
        I'll let you know if I need your help again dealing with Sam,<br />
        but for now I need to pack you off on another mission...
    </div>
    <div id="subTitle04_013" class="orangeText">Confero: Follow me, there's an Aisle along here that needs your urgent attention.</div>


    <div id="phoneMap04_006" class="phoneMap stretchBG"></div>
    <div id="phoneMap04_012" class="phoneMap stretchBG"><span class="phoneMap04_012_dot"></span></div>
</div>
