﻿<script type='text/javascript' src="js/variableScene8config.js"></script>
<script type='text/javascript' src="js/scene8.js"></script>

<div id="scene8">
 
    <div id="sceneOver" class="stretchBG"></div>
    
    <div id="subTitle04_141" class="orangeText">
        Autense: Thanks for all your hard work. Hmm, you look like you could use a rest soon.<br />
        Take some time to fill out this last part of our questionnaire and you're done for the day.</div>
    <div id="subTitle04_156_1" class="orangeText">
        Autense: Ahh! You've finished. Thanks for your contribution. <br />
        I have a feeling UNESCO might just decide this area should be a World Heritage Site... </div>
     <div id="subTitle04_156_2" class="orangeText">   
        Now, go and put your feet up, you've earned it.</div>

    <div id="propOverlayQuestion04_144" class="propOverlayQuestion stretchBG">
         <div class="wrap-q" style="width: 92.8%;">
        <div class="queTitle">
            How would you summarise the premise of Bob Brown's argument regarding the Franklin River Dam?
        </div>
             </div>
        <div class="ansTitle">
            <ul>
                <li id="q1radio1"><span>That the Franklin River Dam would not provide a useful economic resource to Tasmania.</span></li>
                <li id="q1radio2"><span>That the Franklin River Dam would pollute all of Tasmania.</span></li>
                <li id="q1radio3"><span>That the Franklin River is an area of outstanding natural beauty and should be preserved for future generations to enjoy.</span></li>
                <li id="q1radio4"><span>That the Franklin River Dam would provide many jobs in Tasmania.</span></li>
            </ul>
        </div>
    </div>

    <div id="propOverlayQuestion04_147" class="propOverlayQuestion stretchBG">
         <div class="wrap-q" style="width: 92.8%;">
        <div class="queTitle">
            How would you summarise the premise of Bruce Goodluck's argument regarding the Franklin River Dam?
        </div>
             </div>
        <div class="ansTitle">
            <ul>
                <li id="q2radio1"><span>That the Franklin River Dam would provide much needed water to Hobart.</span></li>
                <li id="q2radio2"><span>That the Franklin River Dam was key to revitalising the Tasmanian economy.</span></li>
                <li id="q2radio3"><span>That the Franklin River Dam was a way of generating more tourism in Tasmania.</span></li>
                <li id="q2radio4"><span>That the Franklin River area is an area of outstanding natural beauty and should be preserved.</span></li>
            </ul>
        </div>
    </div>

    <div id="propOverlayQuestion04_150" class="propOverlayQuestion stretchBG">
         <div class="wrap-q" style="width: 92.8%;">
        <div class="queTitle">
            Which legal body decided on the outcome of the Franklin River based on the arguments of the Federal and Tasmanian Governments?
        </div>
             </div>
        <div class="ansTitle">
            <ul>
                <li id="q3radio1"><span>The National Court of Australia.</span></li>
                <li id="q3radio2"><span>The Federal Court of Australia.</span></li>
                <li id="q3radio3"><span>The High Court of Tasmania.</span></li>
                <li id="q3radio4"><span>The High Court of Australia.</span></li>
            </ul>
        </div>
    </div>

    <div id="propOverlayQuestion04_153" class="propOverlayQuestion stretchBG">
        <div class="wrap-q" style="width: 92.8%;">
         <div class="queTitle">
            Which Prime Minister's government was defeated at an election based on the campaign to save the Franklin River Dam?
        </div>
            </div>
        <div class="ansTitle">
            <ul>
                <li id="q4radio1"><span>Julia Gillard's Government.</span></li>
                <li id="q4radio2"><span>John Howard's Government.</span></li>
                <li id="q4radio3"><span>Bob Hawke's Government.</span></li>
                <li id="q4radio4"><span>Malcolm Fraser's Government.</span></li>
            </ul>
        </div>
    </div>

    <div id="propOverlayImage04_143" class="stretchBG propOverlay">
    </div>


    <div id="TStimer">00:15:00</div>
</div>
