﻿<script type='text/javascript' src="js/variableScene2config.js"></script>
<script type='text/javascript' src="js/scene2.js"></script>

<div id="scene2">

    <div id="sceneOver" class="stretchBG"></div>
    <div id="subTitle04_021_1" class="orangeText">
        Confero: Here we are, child. Another hole in my records thanks to Guess Who.<br />
        There was one thing left behind, mind you.
    </div>
    <div id="subTitle04_021_2" class="orangeText">
        Grab that Security Pass and I'll show you what I've done to help you
        <br />
        on your next mission.
    </div>
    <div id="subTitle04_025_1" class="orangeText">
        Confero: This time, your phone will take you to the early 1980s, and a 
        <br />
        very important event in the history of Australia's environmental movement.
    </div>
    <div id="subTitle04_025_2" class="orangeText">
        As you can see, my Archive has been completely decimated on the subject,
        <br />
        so I will need you to beam back a couple of things.
    </div>
    <div id="subTitle04_025_3" class="orangeText">
        You just find them,the phone will take care of the rest.
        <br />
        And make sure you blend in with the UNESCO crowd, won't you.
    </div>
    <div id="subTitle04_025_4" class="orangeText">
        I'll message you more details when you arrive. Good speed...
    </div>
    <div id="cover">
        <div id="objectHighlight04_022_01" class="stretchBG"></div>
    </div>
    <div id="propOverlayImage04_024" class="stretchBG propOverlay">
        <div class="propClose"></div>
    </div>


    <div id="phoneMap04_018" class="phoneMap stretchBG"><span class="phoneMap04_018_dot"></span></div>


    <div id="TStimer">00:15:00</div>
</div>
