﻿<script type='text/javascript' src="js/variableScene7config.js"></script>
<script type='text/javascript' src="js/scene7.js"></script>

<div id="scene7">

    <div id="sceneOver" class="stretchBG"></div>
    <div id="subTitle04_120" class="orangeText">Director: Do us a favour and turn the engine over mate.</div>
    <div id="subTitle04_126" class="orangeText">
        Director: Great, power! Now I can have a look at today's rushes.
        <br />
        Feel free to take a peek yourself.
    </div>
    <div id="subTitle04_132" class="orangeText">Confero: Great job. Transferring now...</div>
    <div id="subTitle04_135" class="orangeText">Director: Where do you want to go? You drive.</div>
    <div id="cover1">
        <div id="objectHighlight04_121" class="stretchBG"></div>
    </div>
    <div id="cover2">
        <div id="objectHighlight04_124" class="stretchBG"></div>
    </div>
    <div id="cover3">
        <div id="objectHighlight04_130" class="stretchBG"></div>
    </div>
    <div id="propOverlayImage04_122" class="stretchBG propOverlay">
        
    </div>
    <div id="propOverlayImage04_127" class="stretchBG propOverlay">
        <div class="propClose"></div>
        <iframe width="420" height="345"></iframe>
    </div>
    <div id="propOverlayImage04_131" class="stretchBG propOverlay">
     
    </div>
    <div id="phoneMap04_136" class="phoneMap stretchBG">
        <!--<span class="phoneMap04_136_dot"></span>-->
    </div>



    <div id="TStimer">00:15:00</div>
</div>
